---

package:
  nodejs:
    installed: true

command:
  node --version:
    exit-status: 0
    stdout:
      - "/^v24.\\d+\\.\\d+$/"
  npm --version:
    exit-status: 0
    stdout:
      - "/^11.\\d+\\.\\d+$/"
