---

- name: services > Services
  service:
    name: "{{ item }}"
    state: started
  with_items: "{{
    []
    + (manala_redis_server)|ternary(['redis-server'], [])
    + (manala_redis_sentinel)|ternary(['redis-sentinel'], [])
  }}"
