---

- name: Restart networking
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
  loop:
    - networking

- name: Generate netplan
  ansible.builtin.command: netplan generate
  notify: Apply netplan

- name: Apply netplan
  ansible.builtin.command: netplan apply
  when: manala_network_netplan_configs_apply
