---

file:
  /root/.composer:
    exists: true
    filetype: directory
    owner: root
    mode: "0755"
  /root/.composer/auth.json:
    exists: true
    filetype: file
    owner: root
    mode: "0644"
    contents: |
      {
          "github-oauth": {
              "github.com": "9927d2878ffa105fc5236c762f2fd7zfd28b841d"
          },
          "http-basic": {
              "repo.example1.org": {
                  "password": "my-secret-password1",
                  "username": "my-username1"
              }
          }
      }
