---

file:
  {{ tests_dir }}/dict:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      LOG_MARTIANS=No
      IP_FORWARDING=On
      MULTICAST=Yes
