---

# Tasks
- name: Tasks
  ansible.builtin.include_tasks: tasks/{{ item.task }}.yml
  loop: |
    {{ query(
      'manala.roles.deploy_tasks',
      __manala_deploy_tasks
    ) }}
  when: item.when
