 -{% for i in range(manala_motd|length) %}-{% endfor %}-
< {{ manala_motd }} >
 -{% for i in range(manala_motd|length) %}-{% endfor %}-
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

