 -{% for i in range(elao_motd|length) %}-{% endfor %}- 
< {{ elao_motd }} >
 -{% for i in range(elao_motd|length) %}-{% endfor %}- 
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

