[1;41m                                                                                [0m
[1;41m                      A0. 0000                                                  [0m
[1;41m                     AAV  0000                                                  [0m
[1;41m                    AAV   0000                                                  [0m
[1;41m         _.n0000n._°0Q    0000        _.aaaAa._              _.aaaAa._          [0m
[1;41m      .o0AAAAAAAAA0o.     0000     .00000"""00000.        .00000"""00000.       [0m
[1;41m     0AAP°       °QAA0    0000    000°         °000      000°         °000      [0m
[1;41m    0AV             VAA   0000   000             000    000             000     [0m
[1;41m   AAAA0000000000000AAA0  0000  000               000  000               000    [0m
[1;41m   AAAA00000000000000000  0000  000               00A  000               000    [0m
[1;41m   000                    0000  000               00A  000               000    [0m
[1;41m    000                   0000   000             000A   000             000     [0m
[1;41m     0000.                0000    0000.       .00000A    000.         .000      [0m
[1;41m       000MMM             0000      00000nnn0000° 00A     °00000nnn00000°       [0m
[1;41m        °^VMM             0000        °^V000V^°   00A        °^V000V^°          [0m
[1;41m                                                                                [0m
[1;44m                                                                                [0m
[1;44m{{ manala_motd_message|center(80) }}[0m
[1;44m                                                                                [0m

