                             ooooooooooooooooooooooo
                        ooooooooooo           ooooooooooo
                     oooooo                           oooooo
                 ooooo                                     oooo
              ooooo                                           oooo
            ooooo                                               ooooo
          oooo                                                   COooo
        oooo                                                     8@@Cooo
       oooo                                                     O@@8  oooo
      ooo                                       CO88888OO      8@@8C    ooo
     ooo                                      8@@@@@@@@@@@@@@@@@@Oo      ooo
   ooo                                       8@@8ooooooooCO8@8Ooo         ooo
  ooo8@@                                    O@@@o                          ooo
 ooooC@@@@O             COOOOOC            C@@@C                            oo
 ooo  oC@@@@@8OOOO8@@@@@@@@@@@@@@@O       8@@@C                             ooo
ooo      oC8@@@@@@@@@8CoooooooC8@@@@@@@@@@@@Oo                               ooo
ooo         ooooooooo           oooC8@@@@Ooo                                 ooo
ooo                                   oo                                      oo
oo                                                                            oo
oo                                                                            oo
oo                                                                            oo
oo                                                                            oo
oo                                                    occo                    oo
ooo                                                  occcco                  ooo
ooo                      occco                       occccco                 ooo
ooo                      ccccco                       ccccc                 ooo
 ooo                     cccccc                        ooo                  oo
 oooo                    occcco                             CCCC           ooo
  ooo                      oo                                             oooo
   ooo                 CC                                                ooo
     ooo              CCCC                                              ooo
      ooo                                                             oooo
       oooo                                                          ooo
         ooo                             oo  c                     oooo
          oooo                                                   oooo
             oooo                                             ooooo
               ooooo                                       ooooo
                 ooooooo                               ooooooo
                      ooooooo                     ooooooo
                          ooooooooooooooooooooooooooo

{{ manala_motd_message|center(80) }}

