{%- import '_macros.j2' as macros with context -%}

{% set config = manala_apt_sources_list -%}

deb http://deb.debian.org/debian {{ ansible_distribution_release }} {{ manala_apt_components|flatten|join(' ') }}
deb-src http://deb.debian.org/debian {{ ansible_distribution_release }} {{ manala_apt_components|flatten|join(' ') }}
{{ macros.config(config) }}
