{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = manala_apt_sources_list|default([], true) -%}

deb http://debian.mirrors.ovh.net/debian {{ ansible_distribution_release }} {{ manala_apt_components|flatten|join(' ') }}
{% if ansible_distribution_release not in ['jessie'] -%}
deb http://debian.mirrors.ovh.net/debian {{ ansible_distribution_release }}-updates {{ manala_apt_components|flatten|join(' ') }}
{% endif %}
deb http://debian.mirrors.ovh.net/debian-security {{ ansible_distribution_release }}/updates {{ manala_apt_components|flatten|join(' ') }}
{{ macros.config(config) }}
