{%- import '_macros.j2' as macros with context -%}

{% set config = manala_apt_sources_list -%}

deb http://deb.debian.org/debian {{ ansible_distribution_release }} {{ manala_apt_components|join(' ') }}
{% if ansible_distribution_release not in ['jessie'] -%}
deb http://deb.debian.org/debian {{ ansible_distribution_release }}-updates {{ manala_apt_components|join(' ') }}
{% endif %}
deb http://security.debian.org/debian-security {{ ansible_distribution_release }}/updates {{ manala_apt_components|join(' ') }}
{{ macros.config(config) }}
