
{%- import '_macros.j2' as macros with context -%}

{% set config = manala_haproxy_environment -%}

# Defaults file for HAProxy
#
# This is sourced by both, the initscript and the systemd unit file, so do not
# treat it as a shell script fragment.

# Change the config file location if needed
#CONFIG="/etc/haproxy/haproxy.cfg"

# Add extra flags here, see haproxy(1) for a few options
#EXTRAOPTS="-de -m 16"

{{ macros.config_row(config, 'CONFIG') }}

{{- macros.config(config, [
    'CONFIG',
]) -}}
