---

- name: Install > Packages
  ansible.builtin.apt:
    name: "{{ item }}"
    install_recommends: false
    update_cache: true
    cache_valid_time: 3600
  loop:
    - |
      {{
        manala_mongodb_install_packages | default(manala_mongodb_install_packages_default, True)
        + (manala_mongodb_users | length > 0) | ternary(
            (ansible_python.version.major == 2) | ternary(
              ['python-pymongo'],
              ['python3-pymongo']
            ),
            []
        )
      }}
