{% set config = manala_network_resolver_config -%}

{%- if config is iterable and config is not string -%}

{#- Deprecated -#}
{%- for parameter in config %}
{{ (parameter.keys()|list)[0] }} {{ (parameter.values()|list)[0] }}
{% endfor -%}

{%- else -%}

{{ config }}

{%- endif -%}
