-- This Source Code Form is subject to the terms of the Mozilla Public
-- License, v. 2.0. If a copy of the MPL was not distributed with this
-- file, You can obtain one at http://mozilla.org/MPL/2.0/.

require "cjson"
require "math"

local msg = {
    id = nil,
    timestamp = nil,
    content = nil
}

function process_message()
    msg.id = read_message("Logger")
    msg.timestamp = math.floor(read_message("Timestamp") / 1e6)
    msg.content = read_message("Payload")
    inject_payload("json", "message_table", cjson.encode(msg))
    return 0
end
