---

file:
  # Default
  {{ tests_dir }}/default/default:
    exists: true
    filetype: file
    contains:
      - Content default
  {{ tests_dir }}/default/present:
    exists: true
    filetype: file
    contains:
      - Content present
  {{ tests_dir }}/default/absent:
    exists: false
  {{ tests_dir }}/default/ignore:
    exists: false
  # Parents
  {{ tests_dir }}/parents:
    exists: true
    filetype: directory
  {{ tests_dir }}/parents/content:
    exists: true
    filetype: file
    contains:
      - Content parents default
  {{ tests_dir }}/parents_defaults:
    exists: true
    filetype: directory
  {{ tests_dir }}/parents_defaults/content:
    exists: true
    filetype: file
    contains:
      - Content defaults parents
  {{ tests_dir }}/parents_unexisting/content:
    exists: false
