---

file:
  # Default
  {{ tests_dir }}/default/default:
    exists: true
    filetype: file
    contains:
      - "/^File$/"
  {{ tests_dir }}/default/present:
    exists: true
    filetype: file
    contains:
      - "/^File$/"
  {{ tests_dir }}/default/absent:
    exists: false
  {{ tests_dir }}/default/ignore:
    exists: false