---

file:
  # Default
  {{ tests_dir }}/default/example:
    exists: true
    filetype: file
    contains:
      - Example Domain
      - This domain is for use in illustrative examples in documents
  {{ tests_dir }}/default/alt-galaxy.tar.gz:
    exists: true
    filetype: file
  {{ tests_dir }}/default/alt-galaxy:
    exists: true
    filetype: file
