---

- name: requirements > Version
  fail:
     msg: Your "manala_java_version" is not compatible with your release
  when: (manala_java_version != None and ansible_distribution_release == 'wheezy' and manala_java_version|version_compare('7', '>'))
        or (manala_java_version != None and ansible_distribution_release == 'stretch' and manala_java_version|version_compare('8', '<'))
  check_mode: false
