{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}
{% set sapi = item.sapi -%}

{{ macros.config_row(config, 'display_errors', true) }}
{{ macros.config_row(config, 'display_startup_errors', true) }}
{{ macros.config_row(config, 'error_reporting', 'E_ALL') }}
{{ macros.config_row(config, 'html_errors', true) }}
{{ macros.config_row(config, 'log_errors', true) }}
{{ macros.config_row(config, 'max_input_time', 60) }}
{{ macros.config_row(config, 'output_buffering', 4096) }}
{{ macros.config_row(config, 'register_argc_argv', false) }}
{{ macros.config_row(config, 'request_order', 'GP') }}
{{ macros.config_row(config, 'short_open_tag', false) }}
{{ macros.config_row(config, 'track_errors', true) }}
{{ macros.config_row(config, 'variables_order', 'GPCS') }}
{{ macros.config_row(config, 'expose_php', true) }}
{{ macros.config_row(config, 'memory_limit', '512M') }}
{{ macros.config_row(config, 'session.gc_divisor', 1000) }}
{{ macros.config_row(config, 'session.hash_bits_per_character', 5) }}
{{ macros.config_row(config, 'url_rewriter.tags', '\'a=href,area=href,frame=src,input=src,form=fakeentry\'') }}

{# Error log #}
{{ macros.config_row(config, 'error_log', '/var/log/php' ~ manala_php_version|string ~ '/error.log') }}

{# Enable apc in cli as soon as apcu/apcu-bc extension is installed #}
{{ macros.config_row(config, 'apc.enable_cli', true) }}

{# See: http://stackoverflow.com/questions/12905404/symfony2-slow-initialization-time #}
{{ macros.config_row(config, 'realpath_cache_size', '4096k') }}
{{ macros.config_row(config, 'realpath_cache_ttl', 7200) }}

{{ macros.config(config, [
  'display_errors',
  'display_startup_errors',
  'error_reporting',
  'html_errors',
  'log_errors',
  'max_input_time',
  'output_buffering',
  'register_argc_argv',
  'request_order',
  'short_open_tag',
  'track_errors',
  'variables_order',
  'expose_php',
  'memory_limit',
  'session.gc_divisor',
  'session.hash_bits_per_character',
  'url_rewriter.tags',
  'error_log',
  'apc.enable_cli',
  'realpath_cache_size',
  'realpath_cache_ttl'
]) -}}
