---

command:
  gluster volume info volume_ignore:
    exit-status: 1
    stderr:
      - "Volume volume_ignore does not exist"
  gluster volume info volume_absent:
    exit-status: 1
    stderr:
      - "Volume volume_absent does not exist"
  gluster volume info:
    exit-status: 0
    stdout:
      # Present
      - "Volume Name: volume_present"
      - "Status: Started"
      - "Bricks:"
      - "Brick1: debian.{{ ansible_facts.distribution_release}}:{{ tests_dir}}/present"
      # Test
      - "Volume Name: volume_test"
      - "Status: Started"
      - "Bricks:"
      - "Brick1: debian.{{ ansible_facts.distribution_release }}:{{ tests_dir}}/test_1"
      - "Brick2: debian.{{ ansible_facts.distribution_release }}:{{ tests_dir}}/test_2"
      - "Brick3: debian.{{ ansible_facts.distribution_release }}:{{ tests_dir}}/test_3"
      - "storage.owner-uid: 1337"
      - "storage.owner-gid: 1337"
      - "nfs.disable: off"
