---

package:
  sensu-go-agent:
    installed: true
  sensu-go-cli:
    installed: true
  sensu-go-backend:
    installed: true

service:
  sensu-backend:
    enabled: true
    running: true
  sensu-agent:
    enabled: true
    running: true
