{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}

{# Upstream - [PHP] - Error handling and logging #}
{{ macros.config_row(config, 'error_reporting', 'E_ALL') }}
{{ macros.config_row(config, 'display_errors', true) }}
{{ macros.config_row(config, 'display_startup_errors', true) }}
{{ macros.config_row(config, 'track_errors', true) }}

{# [PHP] - Miscellaneous #}
{{ macros.config_row(config, 'expose_php', true) }}

{# [PHP] - Resource Limits #}
{{ macros.config_row(config, 'memory_limit', '512M') }}

{# [PHP] - Error handling and logging #}
{{ macros.config_row(config, 'error_log', manala_php_versions[manala_php_version|string]['log_dir'] ~ '/error.log') }}

{# [PHP] - Language Options - Dev #}
{# See: http://stackoverflow.com/questions/12905404/symfony2-slow-initialization-time #}
{{ macros.config_row(config, 'realpath_cache_size', '4096k') }}
{{ macros.config_row(config, 'realpath_cache_ttl', 7200) }}

{{ macros.config(config, [
  'error_reporting',
  'display_errors',
  'display_startup_errors',
  'track_errors',
  'expose_php',
  'memory_limit',
  'error_log',
  'realpath_cache_size',
  'realpath_cache_ttl',
  'apc.enabled',
  'apc.enable_cli'
]) -}}
