{%- set template_name = (template_env == '')|ternary('default.j2','default.' ~ template_env ~ '.j2') -%}

{% if manala_redis_version|default(0, true) is version('2.4', '>=') and manala_redis_version|default(0, true) is version('2.5', '<') %}
    {%- include '2.4/' ~ template_name -%}
{% elif manala_redis_version|default(0, true) is version('2.8', '>=') and manala_redis_version|default(0, true) is version('3.0', '<') %}
    {%- include '2.8/' ~ template_name -%}
{% elif manala_redis_version|default(0, true) is version('3.0', '>=') and manala_redis_version|default(0, true) is version('4.0', '<') %}
    {%- include '3.0/' ~ template_name -%}
{% elif manala_redis_version|default(0, true) is version('4.0', '>=') and manala_redis_version|default(0, true) is version('5.0', '<') %}
    {%- include '4.0/' ~ template_name -%}
{% else %}
    {%- include '5.0/' ~ template_name -%}
{% endif %}
