---

package:
  nodejs:
    installed: true

command:
  node --version:
    exit-status: 0
    stdout:
      - "/^v7.\\d+\\.\\d+$/"
  npm --version:
    exit-status: 0
    stdout:
      - "/^4.\\d+\\.\\d+$/"
