{%- import '_macros.j2' as macros with context -%}

{%- set config_name_default = 'www' -%}

{%- set config_default = {
  'listen':          '/var/run/php5-fpm.sock',
  'pm.max_children': 20
} -%}

{%- set config_extra = {
} -%}

{% include manala_php_version|string ~ '/_base.j2' %}
