---

file:
  {{ tests_dir }}/dict:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contents: |
      ES_JAVA_OPTS="-Xms1g -Xmx1g"
      FOO="bar"
  {{ tests_dir }}/content:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contents: |
      Content
  {{ tests_dir }}/template:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contents: |
      Template
