---

- name: variables > File
  blockinfile:
    dest: "{{ item.file }}"
    block: |
      {% for variable in query('manala_environment_variables', manala_environment_variables) %}
      {{ (item.export)|ternary('export ', '') }}{{ variable.name }}="{{ variable.value }}"
      {% endfor %}
  loop: "{{ query(
      'manala_environment_files',
      manala_environment_files,
      manala_environment_files_patterns
    )
  }}"
