{%- macro config(parameters, exclusions = []) -%}
    {% for parameter in parameters -%}
{% if parameter is string or parameter is number %}
{{ parameter }}
{% elif parameter is mapping %}
{% for key, value in parameter.iteritems() -%}
{% if value is string or value is number %}
{{ (key ~ ':').ljust(13) }} {{ value }}
{% endif %}
{% endfor %}
{% endif %}
    {%- endfor %}
{%- endmacro -%}
