Package:      {{ elao_apt_preferences_patterns[item.split('@')[0]]|default('*') }}
Pin:          {{ elao_apt_repositories_patterns[(item.split('@')[1]).split(':')[0]].pin|default('origin ' ~ elao_apt_repositories_patterns[(item.split('@')[1]).split(':')[0]].source|regex_replace('deb https?:\/\/([^\/ ]+)[\/ ].*$', '\\1')) }}
Pin-Priority: {{ (item.split(':')[1]|default(900)) if (item is string) else (900) }}
