Package:      {{ elao_apt_preferences_patterns[item.split('@')[0]] }}
Pin:          {{ elao_apt_repositories_patterns[item.split('@')[1]].pin|default('origin ' ~ elao_apt_repositories_patterns[item.split('@')[1]].source|regex_replace('deb https?:\/\/([^\/ ]+)[\/ ].*$', '\\1')) }}
Pin-Priority: 900
