{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}

{% set config_values = {
    'package': '*'
} -%}

{%- for configs in config -%}
    {%- for config_name, config_parameters in configs.iteritems() -%}
        {%- if config_name == 'Package' -%}
            {%- if config_values.update({'package': config_parameters}) -%}{%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}

Package:      {{ config_values.package }}
Pin:          {{ elao_apt_repositories_patterns.dotdeb.pin|default('origin ' ~ elao_apt_repositories_patterns.dotdeb.source|regex_replace('deb https?:\/\/([^\/ ]+)[\/ ].*$', '\\1')) }}
Pin-Priority: 900
