{%- import '_macros.j2' as macros with context -%}

{% set config = manala_apt_sources_list -%}

deb {{ manala_apt_debian_archive_mirror }} {{ ansible_distribution_release }} {{ manala_apt_components|join(' ') }}
{{ macros.config(config) }}
