{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}
{% set sapi = item.sapi -%}

{# Upstream - [PHP] - Error handling and logging #}
{{ macros.config_row(config, 'error_reporting', 'E_ALL & ~E_DEPRECATED & ~E_STRICT') }}
{{ macros.config_row(config, 'display_errors', false) }}
{{ macros.config_row(config, 'display_startup_errors', false) }}
{{ macros.config_row(config, 'track_errors', false) }}

{# Upstream - [Assertion] #}
{{ macros.config_row(config, 'zend.assertions', -1) }}

{# [PHP] - Miscellaneous #}
{{ macros.config_row(config, 'expose_php', false) }}

{# [PHP] - Resource Limits #}
{{ macros.config_row(config, 'memory_limit', '512M') }}

{# [PHP] - Error handling and logging #}
{{ macros.config_row(config, 'error_log', '/var/log/php' ~ manala_php_version|string ~ '/error.log') }}

{# Enable apc in cli as soon as apcu/apcu-bc extension is installed #}
{{ macros.config_row(config, 'apc.enable_cli', true) }}

{{ macros.config(config, [
  'error_reporting',
  'display_errors',
  'display_startup_errors',
  'track_errors',
  'zend.assertions',
  'expose_php',
  'memory_limit',
  'error_log',
  'apc.enable_cli'
]) -}}
