{%- import '_macros.j2' as macros with context -%}

{% set config = manala_apt_sources_list -%}

deb http://raspbian.raspberrypi.org/raspbian/ {{ ansible_distribution_release }} {{ manala_apt_components|flatten|join(' ') }} rpi
{{ macros.config(config) }}