{%- set config = manala_elasticsearch_config -%}

{%- if config is mapping -%}

{{ config | manala_yaml }}

{%- elif config is iterable and config is not string -%}

{#- Deprecated -#}
{%- include '_base.j2' -%}

{%- else -%}

{{ config }}

{%- endif -%}
