---

file:
  {{ tests_dir }}/dict:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contents: |
      cluster:
          name: foo
      path.data: /foo/bar
  {{ tests_dir }}/content:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contents: |
      Content
  {{ tests_dir }}/template:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contents: |
      Template
