{%- macro config(parameters, exclusions = []) -%}
    {% for key, value in parameters.iteritems() -%}
        {% if key not in exclusions %}
{% if value is none or value is sameas false %}
{% elif value is sameas true %}
set {{ key }}
{% elif value is string or value is number %}
set {{ key }}={{ value }}
{% endif %}
        {%- endif %}
    {%- endfor %}
{%- endmacro -%}