{%- import '_macros.j2' as macros with context -%}

{% set config = elao_vim_config -%}

syntax on

{{ macros.config_row(config, 'encoding', 'utf8') }}
{{ macros.config_row(config, 'mouse', 'a') }}
{{ macros.config_row(config, 'expandtab', true) }}
{{ macros.config_row(config, 'smarttab', true) }}
{{ macros.config_row(config, 'shiftwidth', 4) }}
{{ macros.config_row(config, 'tabstop', 4) }}
{{ macros.config(config, [
    'encoding',
    'mouse',
    'expandtab',
    'smarttab',
    'shiftwidth',
    'tabstop'
]) -}}
