{%- import '_macros.j2' as macros with context -%}
# mongod.conf

# Where to store the data.

# Note: if you run mongodb as a non-root user (recommended) you may
# need to create and set permissions for this directory manually,
# e.g., if the parent directory isn't mutable by the mongodb user.
dbpath = {{ elao_mongodb_config.dbpath|default('/var/lib/mongodb') }}

#where to log
logpath = {{ elao_mongodb_config.logpath|default('/var/log/mongodb/mongod.log') }}

logappend = {{ elao_mongodb_config.logappend|default('true') }}

port = {{ elao_mongodb_config.port|default(27017) }}

# Listen interface(s).
bind_ip = {{ elao_mongodb_config.bind_ip|default('127.0.0.1') }}

{{ macros.config(elao_mongodb_config, [
  'dbpath',
  'logpath',
  'logappend',
  'port',
  'bind_ip']) -}}
