{%- import '_macros.j2' as macros with context -%}
# see "man logrotate" for details
{% if elao_logrotate_config.weekly is not defined
   and elao_logrotate_config.monthly is not defined
   and elao_logrotate_config.daily is not defined
   and elao_logrotate_config.size is not defined %}
# rotate log files weekly
weekly
{% endif %}
{% if elao_logrotate_config.daily|default(false) %}
# rotate log files daily
daily
{% endif %}
{% if elao_logrotate_config.weekly|default(false) %}
# rotate log files weekly
weekly
{% endif %}
{% if elao_logrotate_config.monthly|default(false) %}
# rotate log files monthly
monthly
{% endif %}
{% if elao_logrotate_config.size|default(false) %}
# rotate log files when grows over {{ elao_logrotate_config.size }}
size {{ elao_logrotate_config.size }}
{% endif %}

# keep 4 weeks worth of backlogs
rotate {{ elao_logrotate_config.rotate|default(4) }}

{% if elao_logrotate_config.create is not defined or elao_logrotate_config.create %}
# create new (empty) log files after rotating old ones
create{% if elao_logrotate_config.create is string %} {{ elao_logrotate_config.create }}{% endif %}
{% endif %}
{% if elao_logrotate_config.compress is defined and elao_logrotate_config.compress %}
# compress your log files
compress
{% endif %}

# packages drop log rotation information into this directory
include /etc/logrotate.d

# no packages own wtmp, or btmp -- we'll rotate them here
/var/log/wtmp {
    missingok
    monthly
    create 0664 root utmp
    rotate 1
}

/var/log/btmp {
    missingok
    monthly
    create 0660 root utmp
    rotate 1
}

{{ macros.config(elao_logrotate_config, [
  'daily',
  'weekly',
  'monthly',
  'size',
  'rotate',
  'create',
  'compress']) -}}
