{%- import '_macros.j2' as macros with context -%}

{% set config = elao_phpmyadmin_config -%}

<?php
/* vim: set expandtab sw=4 ts=4 sts=4: */
/**
 * phpMyAdmin sample configuration, you can use it as base for
 * manual configuration. For easier setup you can use setup/
 *
 * All directives are explained in documentation in the doc/ folder
 * or at <http://docs.phpmyadmin.net/>.
 *
 * @package PhpMyAdmin
 */

/*
 * This is needed for cookie based authentication to encrypt password in
 * cookie
 */
{{ macros.config_row(config, 'blowfish_secret', '') }} /* YOU MUST FILL IN THIS FOR COOKIE AUTH! */

/*
 * Servers configuration
 */
{% for config_server in elao_phpmyadmin_config_servers|ternary(elao_phpmyadmin_config_servers, [{'id': 1}]) %}

{%- set config_server_config = config_server.config|default([]) -%}

/* Authentication type */
{{ macros.config_row(config_server_config, 'auth_type', 'config', false, config_server.id) }}
/* Server parameters */
{{ macros.config_row(config_server_config, 'host', 'localhost', false, config_server.id) }}
{{ macros.config_row(config_server_config, 'connect_type', 'tcp', false, config_server.id) }}
{{ macros.config_row(config_server_config, 'compress', false, false, config_server.id) }}
{{ macros.config_row(config_server_config, 'AllowNoPassword', true, false, config_server.id) }}

/*
 * phpMyAdmin configuration storage settings.
 */

/* User used to manipulate with storage */
{{ macros.config_row(config_server_config, 'controlhost', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'controlhost\'] = \'\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'controlport', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'controlport\'] = \'\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'controluser', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'controluser\'] = \'pma\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'controlpass', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'controlpass\'] = \'pmapass\';', true, config_server.id) }}

/* Storage database and tables */
{{ macros.config_row(config_server_config, 'pmadb', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'pmadb\'] = \'phpmyadmin\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'bookmarktable', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'bookmarktable\'] = \'pma__bookmark\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'relation', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'relation\'] = \'pma__relation\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'table_info', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'table_info\'] = \'pma__table_info\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'table_coords', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'table_coords\'] = \'pma__table_coords\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'pdf_pages', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'pdf_pages\'] = \'pma__pdf_pages\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'column_info', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'column_info\'] = \'pma__column_info\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'history', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'history\'] = \'pma__history\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'table_uiprefs', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'table_uiprefs\'] = \'pma__table_uiprefs\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'tracking', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'tracking\'] = \'pma__tracking\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'userconfig', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'userconfig\'] = \'pma__userconfig\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'recent', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'recent\'] = \'pma__recent\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'favorite', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'favorite\'] = \'pma__favorite\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'users', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'users\'] = \'pma__users\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'usergroups', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'usergroups\'] = \'pma__usergroups\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'navigationhiding', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'navigationhiding\'] = \'pma__navigationhiding\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'savedsearches', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'savedsearches\'] = \'pma__savedsearches\';', true, config_server.id) }}
{{ macros.config_row(config_server_config, 'central_columns', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'central_columns\'] = \'pma__central_columns\';', true, config_server.id) }}
/* Contrib / Swekey authentication */
{{ macros.config_row(config_server_config, 'auth_swekey_config', '// $cfg[\'Servers\'][' ~ config_server.id ~ '][\'auth_swekey_config\'] = \'/etc/swekey-pma.conf\';', true, config_server.id) }}

{{ macros.config(config_server_config, [
    'auth_type',
    'host',
    'connect_type',
    'compress',
    'AllowNoPassword',
    'controlhost',
    'controlport',
    'controluser',
    'controlpass',
    'pmadb',
    'bookmarktable',
    'relation',
    'table_info',
    'table_coords',
    'pdf_pages',
    'column_info',
    'history',
    'table_uiprefs',
    'tracking',
    'userconfig',
    'recent',
    'favorite',
    'users',
    'usergroups',
    'navigationhiding',
    'savedsearches',
    'central_columns',
    'auth_swekey_config'
], config_server.id) }}
{% endfor %}

/*
 * End of servers configuration
 */

/*
 * Directories for saving/loading files from server
 */
{{ macros.config_row(config, 'UploadDir', '') }}
{{ macros.config_row(config, 'SaveDir', '') }}

/**
 * Whether to display icons or text or both icons and text in table row
 * action segment. Value can be either of 'icons', 'text' or 'both'.
 */
{{ macros.config_row(config, 'RowActionType', '//$cfg[\'RowActionType\'] = \'both\';', true) }}

/**
 * Defines whether a user should be displayed a "show all (records)"
 * button in browse mode or not.
 * default = false
 */
{{ macros.config_row(config, 'ShowAll', '//$cfg[\'ShowAll\'] = true;', true) }}

/**
 * Number of rows displayed when browsing a result set. If the result
 * set contains more rows, "Previous" and "Next".
 * default = 30
 */
{{ macros.config_row(config, 'MaxRows', '//$cfg[\'MaxRows\'] = 50;', true) }}

/**
 * disallow editing of binary fields
 * valid values are:
 *   false    allow editing
 *   'blob'   allow editing except for BLOB fields
 *   'noblob' disallow editing except for BLOB fields
 *   'all'    disallow editing
 * default = blob
 */
{{ macros.config_row(config, 'ProtectBinary', '//$cfg[\'ProtectBinary\'] = \'false\';', true) }}

/**
 * Default language to use, if not browser-defined or user-defined
 * (you find all languages in the locale folder)
 * uncomment the desired line:
 * default = 'en'
 */
{{ macros.config_row(config, 'DefaultLang', '//$cfg[\'DefaultLang\'] = \'en\';\n//$cfg[\'DefaultLang\'] = \'de\';', true) }}

/**
 * How many columns should be used for table display of a database?
 * (a value larger than 1 results in some information being hidden)
 * default = 1
 */
{{ macros.config_row(config, 'PropertiesNumColumns', '//$cfg[\'PropertiesNumColumns\'] = 2;', true) }}

/**
 * Set to true if you want DB-based query history.If false, this utilizes
 * JS-routines to display query history (lost by window close)
 *
 * This requires configuration storage enabled, see above.
 * default = false
 */
{{ macros.config_row(config, 'QueryHistoryDB', '//$cfg[\'QueryHistoryDB\'] = true;', true) }}

/**
 * When using DB-based query history, how many entries should be kept?
 *
 * default = 25
 */
{{ macros.config_row(config, 'QueryHistoryMax', '//$cfg[\'QueryHistoryMax\'] = 100;', true) }}

/**
 * Should error reporting be enabled for JavaScript errors
 *
 * default = 'ask'
 */
{{ macros.config_row(config, 'SendErrorReports', '//$cfg[\'SendErrorReports\'] = \'ask\';', true) }}

/*
 * You can find more configuration options in the documentation
 * in the doc/ folder or at <http://docs.phpmyadmin.net/>.
 */

{{ macros.config(config, [
    'blowfish_secret',
    'UploadDir',
    'SaveDir',
    'RowActionType',
    'ShowAll',
    'MaxRows',
    'ProtectBinary',
    'DefaultLang',
    'PropertiesNumColumns',
    'QueryHistoryDB',
    'QueryHistoryMax',
    'SendErrorReports'
]) }}
