{%- import '_macros.j2' as macros with context -%}

{% set config = manala_rtail_config -%}

[Service]
ExecStart=
ExecStart=/usr/bin/nodejs /usr/lib/nodejs/rtail/cli/rtail-server.js \
          {{ macros.config_row(config, 'web-host', '0.0.0.0').rstrip(' \\\n') }}{{ config|ternary(' \\\n ', '') }}{{ macros.config(config, ['web-host'], 9).rstrip(' \\\n') }}
