{%- import '_macros.j2' as macros with context -%}

{% set config = elao_mailhog_config -%}

[Service]
ExecStart=
ExecStart={{ elao_mailhog_bin }}{{ config|ternary(' \\\n ', '') }}{{ macros.config(config, [], 9).rstrip(' \\\n') }}
