{%- import '_macros.j2' as macros with context -%}

{% set config_global = elao_haproxy_config.global|default({}) -%}

global
    {% for log in config_global.log|default([
        '/dev/log    local0',
        '/dev/log    local1 notice'
    ]) -%}
    log                      {{ log }}
    {% endfor -%}
    chroot                   {{ config_global.chroot|default('/var/lib/haproxy') }}
    {% for stats in config_global.stats|default([
        'socket /run/haproxy/admin.sock mode 660 level admin',
        'timeout 30s'
    ]) -%}
    stats                    {{ stats }}
    {% endfor -%}
    user                     {{ config_global.user|default('haproxy') }}
    group                    {{ config_global.group|default('haproxy') }}
    {% if config_global.daemon|default(true) -%}
    daemon
    {% endif %}

    # Default SSL material locations
    ca-base                  {{ config_global['ca-base']|default('/etc/ssl/certs') }}
    crt-base                 {{ config_global['crt-base']|default('/etc/ssl/private') }}

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers {{ config_global['ssl-default-bind-ciphers']|default('kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL') }}
    ssl-default-bind-options {{ config_global['ssl-default-bind-options']|default('no-sslv3') }}

{{ macros.config(config_global, ['log', 'chroot', 'stats', 'user', 'group', 'daemon', 'ca-base', 'crt-base', 'ssl-default-bind-ciphers', 'ssl-default-bind-options'], 25, '    ') -}}

{% set config_defaults = elao_haproxy_config.defaults|default({}) %}

defaults
    {% for log in config_defaults.log|default([
        'global'
    ]) -%}
    log       {{ log }}
    {% endfor -%}
    mode      {{ config_defaults.mode|default('http') }}
    {% for option in config_defaults.option|default([
        'httplog',
        'dontlognull'
    ]) -%}
    option    {{ option }}
    {% endfor -%}
    {% for timeout in config_defaults.timeout|default([
        'connect 5000',
        'client  50000',
        'server  50000'
    ]) -%}
    timeout   {{ timeout }}
    {% endfor -%}
    {% for errorfile in config_defaults.errorfile|default([
        '400 ' ~ elao_haproxy_errorfiles_path ~'/400.http',
        '403 ' ~ elao_haproxy_errorfiles_path ~'/403.http',
        '408 ' ~ elao_haproxy_errorfiles_path ~'/408.http',
        '500 ' ~ elao_haproxy_errorfiles_path ~'/500.http',
        '502 ' ~ elao_haproxy_errorfiles_path ~'/502.http',
        '503 ' ~ elao_haproxy_errorfiles_path ~'/503.http',
        '504 ' ~ elao_haproxy_errorfiles_path ~'/504.http'
    ]) -%}
    errorfile {{ errorfile }}
    {% endfor %}

{{ macros.config(config_defaults, ['log', 'mode', 'option', 'timeout', 'errorfile'], 18, '    ') -}}

{{ macros.config(elao_haproxy_config, ['global', 'defaults']) -}}
