---

package:
  mongodb-org:
    installed: true
  mongodb-org-server:
    installed: true
  mongodb-org-shell:
    installed: true
  mongodb-org-tools:
    installed: true

command:
  mongod --version:
    exit-status: 0
    stdout:
      - "/db version v4.4.(.){1,2}/"

service:
  mongod:
    enabled: true
    running: true
