---

command:
  mongo --eval "db.system.users.find({user:'foo'}).count()" admin:
    exit-status: 0
    stdout:
      - "1"
  mongo --eval "db.system.users.find({user:'bar'}).count()" admin:
    exit-status: 0
    stdout:
      - "0"
  mongo --eval "db.system.users.find({user:'baz'}).count()" admin:
    exit-status: 0
    stdout:
      - "1"
