---

file:
  {{ tests_dir }}/content:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  {{ tests_dir }}/content_hba:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  {{ tests_dir }}/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/template_hba:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
