---

package:
  proftpd-basic:
    installed: {{ (ansible_facts.distribution_release in ['bullseye', 'bookworm']) | ternary('true', 'false') }}

  proftpd-core:
    installed: true

service:
  proftpd:
    enabled: true
    running: true
