{%- import '_macros.j2' as macros with context -%}

{%- set config = elao_ssh_config_sshd -%}

{{ macros.config_row(config, 'Port', 22) }}
{{ macros.config_row(config, 'Protocol', 2) }}
{{ macros.config_row(config, 'HostKey', [
    '/etc/ssh/ssh_host_rsa_key',
    '/etc/ssh/ssh_host_dsa_key',
    '/etc/ssh/ssh_host_ecdsa_key'
]) }}
{{ macros.config_row(config, 'UsePrivilegeSeparation', true) }}
{{ macros.config_row(config, 'KeyRegenerationInterval', 3600) }}
{{ macros.config_row(config, 'ServerKeyBits', 768) }}
{{ macros.config_row(config, 'SyslogFacility', 'AUTH') }}
{{ macros.config_row(config, 'LogLevel', 'INFO') }}
{{ macros.config_row(config, 'LoginGraceTime', 120) }}
{{ macros.config_row(config, 'PermitRootLogin', true) }}
{{ macros.config_row(config, 'StrictModes', true) }}
{{ macros.config_row(config, 'RSAAuthentication', true) }}
{{ macros.config_row(config, 'PubkeyAuthentication', true) }}
{{ macros.config_row(config, 'IgnoreRhosts', true) }}
{{ macros.config_row(config, 'RhostsRSAAuthentication', false) }}
{{ macros.config_row(config, 'HostbasedAuthentication', false) }}
{{ macros.config_row(config, 'PermitEmptyPasswords', false) }}
{{ macros.config_row(config, 'ChallengeResponseAuthentication', false) }}
{{ macros.config_row(config, 'X11Forwarding', true) }}
{{ macros.config_row(config, 'X11DisplayOffset', 10) }}
{{ macros.config_row(config, 'PrintMotd', false) }}
{{ macros.config_row(config, 'PrintLastLog', true) }}
{{ macros.config_row(config, 'TCPKeepAlive', true) }}
{{ macros.config_row(config, 'AcceptEnv', '') }}
{{ macros.config_row(config, 'Subsystem', 'sftp /usr/lib/openssh/sftp-server') }}
{{ macros.config_row(config, 'UsePAM', true) }}
{{ macros.config_row(config, 'UseDNS', false) }}

{{ macros.config(config, [
    'Port',
    'Protocol',
    'HostKey',
    'UsePrivilegeSeparation',
    'KeyRegenerationInterval',
    'ServerKeyBits',
    'SyslogFacility',
    'LogLevel',
    'LoginGraceTime',
    'PermitRootLogin',
    'StrictModes',
    'RSAAuthentication',
    'PubkeyAuthentication',
    'IgnoreRhosts',
    'RhostsRSAAuthentication',
    'HostbasedAuthentication',
    'PermitEmptyPasswords',
    'ChallengeResponseAuthentication',
    'X11Forwarding',
    'X11DisplayOffset',
    'PrintMotd',
    'PrintLastLog',
    'TCPKeepAlive',
    'AcceptEnv',
    'Subsystem',
    'UsePAM',
    'UseDNS'
]) }}
