{%- import '_macros.j2' as macros with context -%}

# What ports, IPs and protocols we listen for
Port {{ elao_ssh_config_sshd.Port|default(22) }}
# Use these options to restrict which interfaces/protocols sshd will bind to
#ListenAddress ::
#ListenAddress 0.0.0.0
Protocol {{ elao_ssh_config_sshd.Protocol|default(2) }}
# HostKeys for protocol version 2
{% for hostkey in elao_ssh_config_sshd.HostKey|default([
    '/etc/ssh/ssh_host_rsa_key',
    '/etc/ssh/ssh_host_dsa_key',
    '/etc/ssh/ssh_host_ecdsa_key'
]) -%}
HostKey {{ hostkey }}
{% endfor -%}
#Privilege Separation is turned on for security
UsePrivilegeSeparation {{ elao_ssh_config_sshd.UsePrivilegeSeparation|default('yes') }}

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval {{ elao_ssh_config_sshd.KeyRegenerationInterval|default(3600) }}
ServerKeyBits {{ elao_ssh_config_sshd.ServerKeyBits|default(768) }}

# Logging
SyslogFacility {{ elao_ssh_config_sshd.SyslogFacility|default('AUTH') }}
LogLevel {{ elao_ssh_config_sshd.LogLevel|default('INFO') }}

# Authentication:
LoginGraceTime {{ elao_ssh_config_sshd.LoginGraceTime|default(120) }}
PermitRootLogin {{ elao_ssh_config_sshd.PermitRootLogin|default('yes') }}
StrictModes {{ elao_ssh_config_sshd.StrictModes|default('yes') }}

RSAAuthentication {{ elao_ssh_config_sshd.RSAAuthentication|default('yes') }}
PubkeyAuthentication {{ elao_ssh_config_sshd.PubkeyAuthentication|default('yes') }}
#AuthorizedKeysFile %h/.ssh/authorized_keys

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ elao_ssh_config_sshd.IgnoreRhosts|default('yes') }}
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication {{ elao_ssh_config_sshd.RhostsRSAAuthentication|default('no') }}
# similar for protocol version 2
HostbasedAuthentication {{ elao_ssh_config_sshd.HostbasedAuthentication|default('no') }}
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords {{ elao_ssh_config_sshd.PermitEmptyPasswords|default('no') }}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ elao_ssh_config_sshd.ChallengeResponseAuthentication|default('no') }}

# Change to no to disable tunnelled clear text passwords
#PasswordAuthentication yes

# Kerberos options
#KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

X11Forwarding {{ elao_ssh_config_sshd.X11Forwarding|default('yes') }}
X11DisplayOffset {{ elao_ssh_config_sshd.X11DisplayOffset|default(10) }}
PrintMotd {{ elao_ssh_config_sshd.PrintMotd|default('no') }}
PrintLastLog {{ elao_ssh_config_sshd.PrintLastLog|default('yes') }}
TCPKeepAlive {{ elao_ssh_config_sshd.TCPKeepAlive|default('yes') }}
#UseLogin no

#MaxStartups 10:30:60
#Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv {{ elao_ssh_config_sshd.AcceptEnv|default('LANG LC_*') }}

Subsystem {{ elao_ssh_config_sshd.Subsystem|default('sftp /usr/lib/openssh/sftp-server') }}

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ elao_ssh_config_sshd.UsePAM|default('yes') }}

{{ macros.config(elao_ssh_config_sshd, [
    'Port',
    'Protocol',
    'HostKey',
    'UsePrivilegeSeparation',
    'KeyRegenerationInterval',
    'SyslogFacility',
    'LogLevel',
    'LoginGraceTime',
    'PermitRootLogin',
    'StrictModes',
    'RSAAuthentication',
    'PubkeyAuthentication',
    'IgnoreRhosts',
    'RhostsRSAAuthentication',
    'HostbasedAuthentication',
    'PermitEmptyPasswords',
    'ChallengeResponseAuthentication',
    'X11Forwarding',
    'X11DisplayOffset',
    'PrintMotd',
    'PrintLastLog',
    'TCPKeepAlive',
    'AcceptEnv',
    'Subsystem',
    'UsePAM'
]) }}
