---

file:
  /etc/timezone:
    exists: {{ (ansible_facts.distribution_release in ['bullseye', 'bookworm']) | ternary('true', 'false') }}
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Africa/Bamako
  /etc/localtime:
    exists: 'true'
    filetype: symlink
    linked-to: /usr/share/zoneinfo/Africa/Bamako
    owner: root
    group: root
    mode: "0777"
