---

- name: configs > Directory
  file:
    path: "{{ manala_backup_manager_configs_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: configs > Exclusive
  find:
    path: "{{ manala_backup_manager_configs_dir }}"
    patterns: "*"
  changed_when: false
  register: __manala_backup_manager_configs_exclusive_find
  when: manala_backup_manager_configs_exclusive

- name: configs > Templates present
  template:
    src: "{{ item.template|default(manala_backup_manager_configs_template|ternary(manala_backup_manager_configs_template, 'configs/default.j2')) }}"
    dest: "{{ item.file }}"
    owner: root
    group: root
    mode: "0600"
  loop: "{{ query(
      'manala_backup_manager_configs',
      manala_backup_manager_configs,
      __manala_backup_manager_configs_exclusive_find.files|default([]),
      manala_backup_manager_configs_dir,
      wantstate='present'
    )
  }}"
  when: item.content is not defined

- name: configs > Contents present
  copy:
    content: "{{ item.content }}"
    dest: "{{ item.file }}"
    owner: root
    group: root
    mode: "0600"
  loop: "{{ query(
      'manala_backup_manager_configs',
      manala_backup_manager_configs,
      __manala_backup_manager_configs_exclusive_find.files|default([]),
      manala_backup_manager_configs_dir,
      wantstate='present'
    )
  }}"
  when: item.content is defined

- name: configs > Files absent
  file:
    path: "{{ item.file }}"
    state: absent
  loop: "{{ query(
      'manala_backup_manager_configs',
      manala_backup_manager_configs,
      __manala_backup_manager_configs_exclusive_find.files|default([]),
      manala_backup_manager_configs_dir,
      wantstate='absent'
    )
  }}"
