---

package:
  openssh-server:
    installed: true
  openssh-client:
    installed: true

service:
  ssh:
    enabled: true
    running: true

file:
  /etc/ssh/ssh_known_hosts:
    exists: true
    contents:
      - github.com ecdsa-sha2-nistp256
