---

package:
  git:
    installed: true

file:
  {{ tests_dir }}/ansible-role-git/.git:
    exists: true
    filetype: directory
    owner: root
    group: root
  {{ tests_dir }}/ansible-role-git-user/.git:
    exists: true
    filetype: directory
    owner: games
