---

package:
  git:
    installed: true

file:
  {{ tests_dir }}/ansible-role-git/.git:
    exists: true
    filetype: directory
    owner: root
    group: root
    mode: "0755"
  {{ tests_dir }}/ansible-role-git-user/.git:
    exists: true
    filetype: directory
    owner: games
    mode: "{{ (ansible_facts.distribution_release in ['bullseye', 'bookworm']) | ternary('0755', '0775') }}"
