---

- name: Backend config > Template
  template:
    src:  "backend_config/default_backend.j2"
    dest: "{{ manala_sensu_go_backend_config_file }}"
    owner: root
    group: root
    mode: "0644"
  when: manala_sensu_go_backend
  notify:
    - sensu-backend restart
