---

file:
  {{ tests_dir }}/dict:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contains:
      - "cluster:"
      - "    name: foo"
      - "path.data: /foo/bar"
  {{ tests_dir }}/content:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contains:
      - "/^Content$/"
  {{ tests_dir }}/template:
    exists: true
    filetype: file
    owner: root
    group: elasticsearch
    mode: "0660"
    contains:
      - "/^Template$/"
