---

- name: configs > Directory
  file:
    path:  "{{ manala_ngrok_configs_dir }}"
    state: directory
    owner: root
    group: root

- name: configs > Templates
  template:
    src:  "{{ item.template|default(manala_ngrok_configs_template|ternary(manala_ngrok_configs_template, 'configs/empty.j2')) }}"
    dest: "{{ manala_ngrok_configs_dir }}/{{ item.file }}"
  register: __manala_ngrok_configs_templates_output
  with_items: "{{ manala_ngrok_configs }}"

- name: configs > Exclusive - find files
  command: "find -type f -printf '%P\n'"
  args:
    chdir: "{{ manala_ngrok_configs_dir }}"
  changed_when: false
  register: __manala_ngrok_configs_find_output
  when: manala_ngrok_configs_exclusive

- name: configs > Exclusive - remove files
  file:
    path:  "{{ manala_ngrok_configs_dir }}/{{ item }}"
    state: absent
  when: manala_ngrok_configs_exclusive and (item not in manala_ngrok_configs|map(attribute='file'))
  with_items: "{{ __manala_ngrok_configs_find_output.stdout_lines|default([]) }}"
