{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default({}) -%}

[{{ config.name|default("www") }}]

user                        = {{ config.user|default("www-data") }}
group                       = {{ config.group|default("www-data") }}

listen                      = {{ config.listen|default("127.0.0.1:9000") }}
listen.backlog              = {{ config["listen.backlog"]|default(128) }}
listen.owner                = {{ config["listen.owner"]|default("www-data") }}
listen.group                = {{ config["listen.group"]|default("www-data") }}

{% set pm = config.pm|default("dynamic") %}
pm                          = {{ pm }}
pm.max_children             = {{ config["pm.max_children"]|default(5) }}
{% if pm == "dynamic" %}
pm.start_servers            = {{ config["pm.start_servers"]|default(2) }}
pm.min_spare_servers        = {{ config["pm.min_spare_servers"]|default(1) }}
pm.max_spare_servers        = {{ config["pm.max_spare_servers"]|default(3) }}
{% endif %}

{% if pm == "ondemand" %}
pm.process_idle_timeout     = {{ config["pm.process_idle_timeout"]|default("10s") }};
{% endif -%}

{{ macros.config(config, [
  'name',
  'user',
  'group',
  'listen',
  'listen.backlog',
  'listen.owner',
  'listen.group',
  'pm',
  'pm.max_children',
  'pm.start_servers',
  'pm.min_spare_servers',
  'pm.max_spare_servers',
  'pm.process_idle_timeout'], 28) -}}
