{%- import '_macros.j2' as macros with context -%}
{%- import '_base.j2' as base with context -%}

; Start a new pool named 'www'.
; the variable $pool can we used in any directive and will be replaced by the
; pool name ('www' here)
[www]

{{ base.base(item.config|default([])) }}
