{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = manala_vim_config|default([], true) -%}

syntax on

{{ macros.config_row(config, 'encoding', 'utf8') }}
{{ macros.config_row(config, 'expandtab', true) }}
{{ macros.config_row(config, 'smarttab', true) }}
{{ macros.config_row(config, 'shiftwidth', 4) }}
{{ macros.config_row(config, 'tabstop', 4) }}
{{ macros.config(config, [
    'encoding',
    'expandtab',
    'smarttab',
    'shiftwidth',
    'tabstop'
]) -}}
