{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}

{{ macros.config_row(config, 'user', 'root') }}
{{ macros.config_row(config, 'address', '/dev/127.0.0.1') }}
{{ macros.config_row(config, 'listen-address', '127.0.0.1') }}
{{ macros.config(config, [
    'user',
    'address',
    'listen-address'
]) }}
