{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default({}) -%}

[eventlistener:{{ config.name }}]
command={{ config.command }}    ; the program (relative uses PATH, can take args)
{{ macros.config(config, ['name', 'command']) }}
