{% for extension in elao_php_extensions %}
{% if extension in ['xdebug'] %}
zend_extension={{ extension }}.so
{% else %}
extension={{ extension }}.so
{% endif %}
{% if extension == 'mysqlnd' %}
extension=mysqli.so
extension=mysql.so
{% endif %}
{% if extension == 'pgsql' %}
extension=pdo_pgsql.so
extension=pdo.so
{% endif %}
{% endfor %}
