{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}

[inet_http_server] ; inet (TCP) server disabled by default
{{ macros.config_row(config, 'port', '127.0.0.1:9001') }} ; (ip_address:port specifier, *:port for all iface)
{{ macros.config_row(config, 'username', ';username=user', 0, true) }} ; (default is no username (open server))
{{ macros.config_row(config, 'password', ';password=123', 0, true) }} ; (default is no password (open server))
{{ macros.config(config, [
    'port',
    'username',
    'password'
]) }}
