{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) %}
{% set section = 'inputs.mem' -%}

# Read metrics about memory usage
[[{{ section }}]]
  # no configuration

{{ macros.config(config, [
  'tags',
  'tagpass',
  'tagdrop'
], 2) }}

{%- include '_tags.j2' %}
