{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default({}) -%}

server {
    listen       {{ config.listen|default(80) }};
    server_name  {{ config.server_name|default('localhost') }};

{{ macros.config(config, ['listen', 'server_name'], 19, 4) -}}
}
