{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default({}) -%}

server {
    listen       {{ config.listen|default('*:80') }};
    server_name  {{ config.server_name|default('localhost') }};
    root         {{ config.root|default('html') }};

    rewrite      ^/{{ config.indexes|default(['app'])|first }}\.php/?(.*)$ /$1 permanent;

    location / {
        index {{ config.indexes|default(['app'])|first }}.php;
        try_files $uri @rewrite;
        {{ macros.config(config["location /"]|default({}), [], 0, 8) }}
    }

    location @rewrite {
        rewrite ^(.*)$ /{{ config.indexes|default(['app'])|first }}.php/$1 last;
    }

    location ~ ^/(
        {{- config.indexes|default(['app'])|join('|') -}}
    )\.php(/|$) {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_pass {{ config.fastcgi_pass|default('127.0.0.1:9000') }};
    }

{{ macros.config(config, ['listen', 'server_name', 'root', 'indexes'], 0, 4) -}}
}

