---

file:
  {{ tests_dir }}/dict:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      DAEMON_ARGS="--log-console --log-detail"
      FOO="bar"
  {{ tests_dir }}/content:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  {{ tests_dir }}/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
