---

package:
  backup-manager:
    installed: true

command:
  dpkg -s backup-manager:
    exit-status: 0
    stdout:
      - "/^Version: \\d+/"
  backup-manager --version:
    exit-status: 0
    stdout:
      - Backup Manager
