[Unit]
Description=Prometheus Nginx Exporter

[Service]
Restart=on-failure
User={{ manala_prometheus_user }}
Group={{ manala_prometheus_group }}
WorkingDirectory={{ manala_prometheus_data_dir }}
ExecStart={{ manala_prometheus_nginx_exporter_bin }}{% if manala_prometheus_nginx_exporter_service_args %} \
{% for arg in manala_prometheus_nginx_exporter_service_args %}
  {{ arg }}{% if not loop.last %} \{% endif %}

{% endfor %}
{% endif %}


[Install]
WantedBy=multi-user.target
