---

user:

  # Verbose syntax
  user_ak_verbose_syntax:
    exists: true
  # Flatten
  user_ak_flatten:
    exists: true
  # Multiple
  user_ak_multiple:
    exists: true
  # File
  user_ak_file:
    exists: true
  # State
  user_ak_state_ignore:
    exists: false

file:

  # Verbose syntax
  /home/user_ak_verbose_syntax/.ssh/authorized_keys:
    exists: true
    filetype: file
    owner: user_ak_verbose_syntax
    mode: "0600"
    contains:
      - "{{ lookup('ansible.builtin.file', 'fixtures/key_1.pub') }}"
  # Flatten
  /home/user_ak_flatten/.ssh/authorized_keys:
    exists: true
    filetype: file
    owner: user_ak_flatten
    mode: "0600"
    contains:
      - "{{ lookup('ansible.builtin.file', 'fixtures/key_1.pub') }}"
  # Multiple
  /home/user_ak_multiple/.ssh/authorized_keys:
    exists: true
    filetype: file
    owner: user_ak_multiple
    mode: "0600"
    contains:
      - "{{ lookup('ansible.builtin.file', 'fixtures/key_1.pub') }}"
      - "{{ lookup('ansible.builtin.file', 'fixtures/key_2.pub') }}"
  # File
  /home/user_ak_file/.ssh/authorized_keys:
    exists: false
  /home/user_ak_file/.ssh/authorized_keys2:
    exists: true
    filetype: file
    owner: user_ak_file
    mode: "0600"
    contains:
      - "{{ lookup('ansible.builtin.file', 'fixtures/key_1.pub') }}"
      - "!{{ lookup('ansible.builtin.file', 'fixtures/key_2.pub') }}"
  # State
  /home/user_ak_state_ignore/.ssh/authorized_keys:
    exists: false
