---

command:
  mariadb -u root --execute "show databases":
    exit-status: 0
    stdout:
      - state_present
      - state_present_implicit
      - "!state_absent"
      - "!state_absent_existing"
      - "!state_ignored"
      - state_ignore_existing
