---

file:
  {{ tests_dir }}/data:
    exists: true
    filetype: directory
    owner: mysql
    group: mysql
    mode: "0750"
  {{ tests_dir }}/data/ibdata1:
    exists: true
    filetype: file

command:
  mariadb -BNe "SELECT @@GLOBAL.datadir":
    exit-status: 0
    stdout:
      - "{{ tests_dir }}/data"
