---

file:
  # Default - Dict
  {{ tests_dir }}/default/cli/conf.d/dict:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      memory_limit = 123M
  {{ tests_dir }}/default/cli/conf.d/dict_cli:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      memory_limit = 255M
  {{ tests_dir }}/default/fpm/conf.d/dict:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      memory_limit = 123M
  {{ tests_dir }}/default/fpm/conf.d/dict_fpm:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      memory_limit = 257M
  # Default - Content
  {{ tests_dir }}/default/cli/conf.d/content:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  {{ tests_dir }}/default/fpm/conf.d/content:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  # Default - Template
  {{ tests_dir }}/default/cli/conf.d/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/default/fpm/conf.d/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/default/cli/conf.d/template_file:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template file
  {{ tests_dir }}/default/fpm/conf.d/template_file:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template file
  # Default - Flatten
  {{ tests_dir }}/default/cli/conf.d/flatten:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/default/fpm/conf.d/flatten:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  # Default - State
  {{ tests_dir }}/default/cli/conf.d/state_present_implicit:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/default/fpm/conf.d/state_present_implicit:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/default/cli/conf.d/state_present:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/default/fpm/conf.d/state_present:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/default/cli/conf.d/state_absent:
    exists: false
  {{ tests_dir }}/default/fpm/conf.d/state_absent:
    exists: false
  {{ tests_dir }}/default/cli/conf.d/state_absent_existing:
    exists: false
  {{ tests_dir }}/default/fpm/conf.d/state_absent_existing:
    exists: false
  {{ tests_dir }}/default/cli/conf.d/state_ignore:
    exists: false
  {{ tests_dir }}/default/fpm/conf.d/state_ignore:
    exists: false
  {{ tests_dir }}/default/cli/conf.d/state_ignore_existing:
    exists: true
    filetype: file
  {{ tests_dir }}/default/fpm/conf.d/state_ignore_existing:
    exists: true
    filetype: file

  # Defaults
  {{ tests_dir }}/defaults/cli/conf.d/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/defaults/cli/conf.d/template_cli:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/defaults/fpm/conf.d/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/defaults/fpm/conf.d/template_fpm:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/defaults/cli/conf.d/template_file:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template file
  {{ tests_dir }}/defaults/fpm/conf.d/template_file:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template file
  {{ tests_dir }}/defaults/cli/conf.d/template_overwrite:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template file
  {{ tests_dir }}/defaults/fpm/conf.d/template_overwrite:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template file

  # Exclusive
  {{ tests_dir }}/exclusive/cli/conf.d/existing:
    exists: false
  {{ tests_dir }}/exclusive/cli/conf.d/existing_cli:
    exists: false
  {{ tests_dir }}/exclusive/fpm/conf.d/existing:
    exists: false
  {{ tests_dir }}/exclusive/fpm/conf.d/existing_fpm:
    exists: false
  {{ tests_dir }}/exclusive/cli/conf.d/existing_present:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/exclusive/cli/conf.d/existing_present_cli:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/exclusive/fpm/conf.d/existing_present:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/exclusive/fpm/conf.d/existing_present_fpm:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
  {{ tests_dir }}/exclusive/cli/conf.d/existing_ignore:
    exists: false
  {{ tests_dir }}/exclusive/cli/conf.d/existing_ignore_cli:
    exists: false
  {{ tests_dir }}/exclusive/fpm/conf.d/existing_ignore:
    exists: false
  {{ tests_dir }}/exclusive/fpm/conf.d/existing_ignore_fpm:
    exists: false
  {{ tests_dir }}/exclusive/cli/conf.d/ignore:
    exists: false
  {{ tests_dir }}/exclusive/cli/conf.d/ignore_cli:
    exists: false
  {{ tests_dir }}/exclusive/fpm/conf.d/ignore:
    exists: false
  {{ tests_dir }}/exclusive/fpm/conf.d/ignore_fpm:
    exists: false
