{%- import '_macros.j2' as macros with context -%}

{% set config = manala_elasticsearch_config -%}

##################### Elasticsearch Configuration Example #####################

# This file contains an overview of various configuration settings,
# targeted at operations staff. Application developers should
# consult the guide at <http://elasticsearch.org/guide>.
#
# The installation procedure is covered at
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/setup.html>.
#
# Elasticsearch comes with reasonable defaults for most settings,
# so you can try it out without bothering with configuration.
#
# Most of the time, these defaults are just fine for running a production
# cluster. If you're fine-tuning your cluster, or wondering about the
# effect of certain configuration option, please _do ask_ on the
# mailing list or IRC channel [http://elasticsearch.org/community].

# Any element in the configuration can be replaced with environment variables
# by placing them in ${...} notation. For example:
#
#node.rack: ${RACK_ENV_VAR}

# For information on supported formats and syntax for the config file, see
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/setup-configuration.html>


################################### Cluster ###################################

# Cluster name identifies your cluster for auto-discovery. If you're running
# multiple clusters on the same network, make sure you're using unique names.
#
{{ macros.config_row(config, 'cluster.name', '#cluster.name: elasticsearch', 0, true) }}


#################################### Node #####################################

# Node names are generated dynamically on startup, so you're relieved
# from configuring them manually. You can tie this node to a specific name:
#
{{ macros.config_row(config, 'node.name', '#node.name: "Franz Kafka"', 0, true) }}

# Every node can be configured to allow or deny being eligible as the master,
# and to allow or deny to store the data.
#
# Allow this node to be eligible as a master node (enabled by default):
#
{{ macros.config_row(config, 'node.master', '#node.master: true', 0, true) }}
#
# Allow this node to store data (enabled by default):
#
{{ macros.config_row(config, 'node.data', '#node.data: true', 0, true) }}

# You can exploit these settings to design advanced cluster topologies.
#
# 1. You want this node to never become a master node, only to hold data.
#    This will be the "workhorse" of your cluster.
#
#node.master: false
#node.data: true
#
# 2. You want this node to only serve as a master: to not store any data and
#    to have free resources. This will be the "coordinator" of your cluster.
#
#node.master: true
#node.data: false
#
# 3. You want this node to be neither master nor data node, but
#    to act as a "search load balancer" (fetching data from nodes,
#    aggregating results, etc.)
#
#node.master: false
#node.data: false

# Use the Cluster Health API [http://localhost:9200/_cluster/health], the
# Node Info API [http://localhost:9200/_nodes] or GUI tools
# such as <http://www.elasticsearch.org/overview/marvel/>,
# <http://github.com/karmi/elasticsearch-paramedic>,
# <http://github.com/lukas-vlcek/bigdesk> and
# <http://mobz.github.com/elasticsearch-head> to inspect the cluster state.

# A node can have generic attributes associated with it, which can later be used
# for customized shard allocation filtering, or allocation awareness. An attribute
# is a simple key value pair, similar to node.key: value, here is an example:
#
#node.rack: rack314

# By default, multiple nodes are allowed to start from the same installation location
# to disable it, set the following:
{{ macros.config_row(config, 'node.max_local_storage_nodes', '#node.max_local_storage_nodes: 1', 0, true) }}


#################################### Index ####################################

# You can set a number of options (such as shard/replica options, mapping
# or analyzer definitions, translog settings, ...) for indices globally,
# in this file.
#
# Note, that it makes more sense to configure index settings specifically for
# a certain index, either when creating it or by using the index templates API.
#
# See <http://elasticsearch.org/guide/en/elasticsearch/reference/current/index-modules.html> and
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/indices-create-index.html>
# for more information.

# Set the number of shards (splits) of an index (5 by default):
#
{{ macros.config_row(config, 'index.number_of_shards', '#index.number_of_shards: 5', 0, true) }}

# Set the number of replicas (additional copies) of an index (1 by default):
#
{{ macros.config_row(config, 'index.number_of_replicas', '#index.number_of_replicas: 1', 0, true) }}

# Note, that for development on a local machine, with small indices, it usually
# makes sense to "disable" the distributed features:
#
#index.number_of_shards: 1
#index.number_of_replicas: 0

# These settings directly affect the performance of index and search operations
# in your cluster. Assuming you have enough machines to hold shards and
# replicas, the rule of thumb is:
#
# 1. Having more *shards* enhances the _indexing_ performance and allows to
#    _distribute_ a big index across machines.
# 2. Having more *replicas* enhances the _search_ performance and improves the
#    cluster _availability_.
#
# The "number_of_shards" is a one-time setting for an index.
#
# The "number_of_replicas" can be increased or decreased anytime,
# by using the Index Update Settings API.
#
# Elasticsearch takes care about load balancing, relocating, gathering the
# results from nodes, etc. Experiment with different settings to fine-tune
# your setup.

# Use the Index Status API (<http://localhost:9200/A/_status>) to inspect
# the index status.


#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):
#
{{ macros.config_row(config, 'path.conf', '#path.conf: /path/to/conf', 0, true) }}

# Path to directory where to store index data allocated for this node.
#
{{ macros.config_row(config, 'path.data', '#path.data: /path/to/data', 0, true) }}
#
# Can optionally include more than one location, causing data to be striped across
# the locations (a la RAID 0) on a file level, favouring locations with most free
# space on creation. For example:
#
#path.data: /path/to/data1,/path/to/data2

# Path to temporary files:
#
{{ macros.config_row(config, 'path.work', '#path.work: /path/to/work', 0, true) }}

# Path to log files:
#
{{ macros.config_row(config, 'path.logs', '#path.logs: /path/to/logs', 0, true) }}

# Path to where plugins are installed:
#
{{ macros.config_row(config, 'path.plugins', '#path.plugins: /path/to/plugins', 0, true) }}


#################################### Plugin ###################################

# If a plugin listed here is not installed for current node, the node will not start.
#
{{ macros.config_row(config, 'plugin.mandatory', '#plugin.mandatory: mapper-attachments,lang-groovy', 0, true) }}


################################### Memory ####################################

# Elasticsearch performs poorly when JVM starts swapping: you should ensure that
# it _never_ swaps.
#
# Set this property to true to lock the memory:
#
{{ macros.config_row(config, 'bootstrap.mlockall', '#bootstrap.mlockall: true', 0, true) }}

# Make sure that the ES_MIN_MEM and ES_MAX_MEM environment variables are set
# to the same value, and that the machine has enough memory to allocate
# for Elasticsearch, leaving enough memory for the operating system itself.
#
# You should also make sure that the Elasticsearch process is allowed to lock
# the memory, eg. by using `ulimit -l unlimited`.


############################## Network And HTTP ###############################

# Elasticsearch, by default, binds itself to the 0.0.0.0 address, and listens
# on port [9200-9300] for HTTP traffic and on port [9300-9400] for node-to-node
# communication. (the range means that if the port is busy, it will automatically
# try the next port).

# Set the bind address specifically (IPv4 or IPv6):
#
{{ macros.config_row(config, 'network.bind_host', '#network.bind_host: 192.168.0.1', 0, true) }}

# Set the address other nodes will use to communicate with this node. If not
# set, it is automatically derived. It must point to an actual IP address.
#
{{ macros.config_row(config, 'network.publish_host', '#network.publish_host: 192.168.0.1', 0, true) }}

# Set both 'bind_host' and 'publish_host':
#
{{ macros.config_row(config, 'network.host', '#network.host: 192.168.0.1', 0, true) }}

# Set a custom port for the node to node communication (9300 by default):
#
{{ macros.config_row(config, 'transport.tcp.port', '#transport.tcp.port: 9300', 0, true) }}

# Enable compression for all communication between nodes (disabled by default):
#
{{ macros.config_row(config, 'transport.tcp.compress', '#transport.tcp.compress: true', 0, true) }}

# Set a custom port to listen for HTTP traffic:
#
{{ macros.config_row(config, 'http.port', '#http.port: 9200', 0, true) }}

# Set a custom allowed content length:
#
{{ macros.config_row(config, 'http.max_content_length', '#http.max_content_length: 100mb', 0, true) }}

# Disable HTTP completely:
#
{{ macros.config_row(config, 'http.enabled', '#http.enabled: false', 0, true) }}


################################### Gateway ###################################

# The gateway allows for persisting the cluster state between full cluster
# restarts. Every change to the state (such as adding an index) will be stored
# in the gateway, and when the cluster starts up for the first time,
# it will read its state from the gateway.

# There are several types of gateway implementations. For more information, see
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/modules-gateway.html>.

# The default gateway type is the "local" gateway (recommended):
#
{{ macros.config_row(config, 'gateway.type', '#gateway.type: local', 0, true) }}

# Settings below control how and when to start the initial recovery process on
# a full cluster restart (to reuse as much local data as possible when using shared
# gateway).

# Allow recovery process after N nodes in a cluster are up:
#
{{ macros.config_row(config, 'gateway.recover_after_nodes', '#gateway.recover_after_nodes: 1', 0, true) }}

# Set the timeout to initiate the recovery process, once the N nodes
# from previous setting are up (accepts time value):
#
{{ macros.config_row(config, 'gateway.recover_after_time', '#gateway.recover_after_time: 5m', 0, true) }}

# Set how many nodes are expected in this cluster. Once these N nodes
# are up (and recover_after_nodes is met), begin recovery process immediately
# (without waiting for recover_after_time to expire):
#
{{ macros.config_row(config, 'gateway.expected_nodes', '#gateway.expected_nodes: 2', 0, true) }}


############################# Recovery Throttling #############################

# These settings allow to control the process of shards allocation between
# nodes during initial recovery, replica allocation, rebalancing,
# or when adding and removing nodes.

# Set the number of concurrent recoveries happening on a node:
#
# 1. During the initial recovery
#
{{ macros.config_row(config, 'cluster.routing.allocation.node_initial_primaries_recoveries', '#cluster.routing.allocation.node_initial_primaries_recoveries: 4', 0, true) }}
#
# 2. During adding/removing nodes, rebalancing, etc
#
{{ macros.config_row(config, 'cluster.routing.allocation.node_concurrent_recoveries', '#cluster.routing.allocation.node_concurrent_recoveries: 2', 0, true) }}

# Set to throttle throughput when recovering (eg. 100mb, by default 20mb):
#
{{ macros.config_row(config, 'indices.recovery.max_bytes_per_sec', '#indices.recovery.max_bytes_per_sec: 20mb', 0, true) }}

# Set to limit the number of open concurrent streams when
# recovering a shard from a peer:
#
{{ macros.config_row(config, 'indices.recovery.concurrent_streams', '#indices.recovery.concurrent_streams: 5', 0, true) }}


################################## Discovery ##################################

# Discovery infrastructure ensures nodes can be found within a cluster
# and master node is elected. Multicast discovery is the default.

# Set to ensure a node sees N other master eligible nodes to be considered
# operational within the cluster. This should be set to a quorum/majority of 
# the master-eligible nodes in the cluster.
#
{{ macros.config_row(config, 'discovery.zen.minimum_master_nodes', '#discovery.zen.minimum_master_nodes: 1', 0, true) }}

# Set the time to wait for ping responses from other nodes when discovering.
# Set this option to a higher value on a slow or congested network
# to minimize discovery failures:
#
{{ macros.config_row(config, 'discovery.zen.ping.timeout', '#discovery.zen.ping.timeout: 3s', 0, true) }}

# For more information, see
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/modules-discovery-zen.html>

# Unicast discovery allows to explicitly control which nodes will be used
# to discover the cluster. It can be used when multicast is not present,
# or to restrict the cluster communication-wise.
#
# 1. Disable multicast discovery (enabled by default):
#
{{ macros.config_row(config, 'discovery.zen.ping.multicast.enabled', '#discovery.zen.ping.multicast.enabled: false', 0, true) }}
#
# 2. Configure an initial list of master nodes in the cluster
#    to perform discovery when new nodes (master or data) are started:
#
{{ macros.config_row(config, 'discovery.zen.ping.unicast.hosts', '#discovery.zen.ping.unicast.hosts: ["host1", "host2:port"]', 0, true) }}

# EC2 discovery allows to use AWS EC2 API in order to perform discovery.
#
# You have to install the cloud-aws plugin for enabling the EC2 discovery.
#
# For more information, see
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/modules-discovery-ec2.html>
#
# See <http://elasticsearch.org/tutorials/elasticsearch-on-ec2/>
# for a step-by-step tutorial.

# GCE discovery allows to use Google Compute Engine API in order to perform discovery.
#
# You have to install the cloud-gce plugin for enabling the GCE discovery.
#
# For more information, see <https://github.com/elasticsearch/elasticsearch-cloud-gce>.

# Azure discovery allows to use Azure API in order to perform discovery.
#
# You have to install the cloud-azure plugin for enabling the Azure discovery.
#
# For more information, see <https://github.com/elasticsearch/elasticsearch-cloud-azure>.

################################## Slow Log ##################################

# Shard level query and fetch threshold logging.

{{ macros.config_row(config, 'index.search.slowlog.threshold.query.warn', '#index.search.slowlog.threshold.query.warn: 10s', 0, true) }}
{{ macros.config_row(config, 'index.search.slowlog.threshold.query.info', '#index.search.slowlog.threshold.query.info: 5s', 0, true) }}
{{ macros.config_row(config, 'index.search.slowlog.threshold.query.debug', '#index.search.slowlog.threshold.query.debug: 2s', 0, true) }}
{{ macros.config_row(config, 'index.search.slowlog.threshold.query.trace', '#index.search.slowlog.threshold.query.trace: 500ms', 0, true) }}

{{ macros.config_row(config, 'index.search.slowlog.threshold.fetch.warn', '#index.search.slowlog.threshold.fetch.warn: 1s', 0, true) }}
{{ macros.config_row(config, 'index.search.slowlog.threshold.fetch.info', '#index.search.slowlog.threshold.fetch.info: 800ms', 0, true) }}
{{ macros.config_row(config, 'index.search.slowlog.threshold.fetch.debug', '#index.search.slowlog.threshold.fetch.debug: 500ms', 0, true) }}
{{ macros.config_row(config, 'index.search.slowlog.threshold.fetch.trace', '#index.search.slowlog.threshold.fetch.trace: 200ms', 0, true) }}

{{ macros.config_row(config, 'index.indexing.slowlog.threshold.index.warn', '#index.indexing.slowlog.threshold.index.warn: 10s', 0, true) }}
{{ macros.config_row(config, 'index.indexing.slowlog.threshold.index.info', '#index.indexing.slowlog.threshold.index.info: 5s', 0, true) }}
{{ macros.config_row(config, 'index.indexing.slowlog.threshold.index.debug', '#index.indexing.slowlog.threshold.index.debug: 2s', 0, true) }}
{{ macros.config_row(config, 'index.indexing.slowlog.threshold.index.trace', '#index.indexing.slowlog.threshold.index.trace: 500ms', 0, true) }}

################################## GC Logging ################################

{{ macros.config_row(config, 'monitor.jvm.gc.young.warn', '#monitor.jvm.gc.young.warn: 1000ms', 0, true) }}
{{ macros.config_row(config, 'monitor.jvm.gc.young.info', '#monitor.jvm.gc.young.info: 700ms', 0, true) }}
{{ macros.config_row(config, 'monitor.jvm.gc.young.debug', '#monitor.jvm.gc.young.debug: 400ms', 0, true) }}

{{ macros.config_row(config, 'monitor.jvm.gc.young.warn', '#monitor.jvm.gc.old.warn: 10s', 0, true) }}
{{ macros.config_row(config, 'monitor.jvm.gc.young.info', '#monitor.jvm.gc.old.info: 5s', 0, true) }}
{{ macros.config_row(config, 'monitor.jvm.gc.young.debug', '#monitor.jvm.gc.old.debug: 2s', 0, true) }}

################################## Security ################################

# Uncomment if you want to enable JSONP as a valid return transport on the
# http server. With this enabled, it may pose a security risk, so disabling
# it unless you need it is recommended (it is disabled by default).
#
{{ macros.config_row(config, 'http.jsonp.enable', '#http.jsonp.enable: true', 0, true) }}

{{ macros.config(config, [
  'cluster.name',
  'node.name',
  'node.master',
  'node.data',
  'node.max_local_storage_nodes',
  'index.number_of_shards',
  'index.number_of_replicas',
  'path.conf',
  'path.data',
  'path.work',
  'path.logs',
  'path.plugins',
  'plugin.mandatory',
  'bootstrap.mlockall',
  'network.bind_host',
  'network.publish_host',
  'network.host',
  'transport.tcp.port',
  'transport.tcp.compress',
  'http.port',
  'http.max_content_length',
  'http.enabled',
  'gateway.type',
  'gateway.recover_after_nodes',
  'gateway.recover_after_time',
  'gateway.expected_nodes',
  'cluster.routing.allocation.node_initial_primaries_recoveries',
  'cluster.routing.allocation.node_concurrent_recoveries',
  'indices.recovery.max_bytes_per_sec',
  'indices.recovery.concurrent_streams',
  'discovery.zen.minimum_master_nodes',
  'discovery.zen.ping.timeout',
  'discovery.zen.ping.multicast.enabled',
  'discovery.zen.ping.unicast.hosts',
  'index.search.slowlog.threshold.query.warn',
  'index.search.slowlog.threshold.query.info',
  'index.search.slowlog.threshold.query.debug',
  'index.search.slowlog.threshold.query.trace',
  'index.search.slowlog.threshold.fetch.warn',
  'index.search.slowlog.threshold.fetch.info',
  'index.search.slowlog.threshold.fetch.debug',
  'index.search.slowlog.threshold.fetch.trace',
  'index.indexing.slowlog.threshold.index.warn',
  'index.indexing.slowlog.threshold.index.info',
  'index.indexing.slowlog.threshold.index.debug',
  'index.indexing.slowlog.threshold.index.trace',
  'monitor.jvm.gc.young.warn',
  'monitor.jvm.gc.young.info',
  'monitor.jvm.gc.young.debug',
  'monitor.jvm.gc.old.warn',
  'monitor.jvm.gc.old.info',
  'monitor.jvm.gc.old.debug',
  'http.jsonp.enable'
]) -}}
