---

- name: Config > Template
  ansible.builtin.template:
    src: "{{ manala_dhcp_config_template }}"
    dest: "{{ manala_dhcp_config_file }}"
    owner: root
    group: root
    mode: "0644"
  when: manala_dhcp_config_template is not none
  notify:
    - Restart dhcp

- name: Config > Content
  ansible.builtin.copy:
    content: "{{ manala_dhcp_config_content }}"
    dest: "{{ manala_dhcp_config_file }}"
    owner: root
    group: root
    mode: "0644"
  when: manala_dhcp_config_content is not none
  notify:
    - Restart dhcp
