{%- import '_macros.j2' as macros with context -%}

{%- set config = manala_beanstalkd_config -%}

## Defaults for the beanstalkd init script, /etc/init.d/beanstalkd on
## Debian systems.

{{ macros.config_row(config, 'BEANSTALKD_LISTEN_ADDR', '127.0.0.1') }}
{{ macros.config_row(config, 'BEANSTALKD_LISTEN_PORT', 11300) }}

# You can use BEANSTALKD_EXTRA to pass additional options. See beanstalkd(1)
# for a list of the available options. Uncomment the following line for
# persistent job storage.
{{ macros.config_row(config, 'BEANSTALKD_EXTRA', '#BEANSTALKD_EXTRA="-b /var/lib/beanstalkd"', true) }}

{{ macros.config(config, [
    'BEANSTALKD_LISTEN_ADDR',
    'BEANSTALKD_LISTEN_PORT',
    'BEANSTALKD_EXTRA'
]) }}
