---

- name: Replications > Create mysql replications
  community.mysql.mysql_replication:
    mode: "{{ item.mode }}"
    # Legacy: "master" should be renamed to "primary"
    master_auto_position: "{{ item.master_auto_position | default(omit) }}"
    master_connect_retry: "{{ item.master_connect_retry | default(omit) }}"
    master_host: "{{ item.master_host | default(omit) }}"
    master_log_file: "{{ item.master_log_file | default(omit) }}"
    master_log_pos: "{{ item.master_log_pos | default(omit) }}"
    master_password: "{{ item.master_password | default(omit) }}"
    master_port: "{{ item.master_port | default(omit) }}"
    master_ssl: "{{ item.master_ssl | default(omit) }}"
    master_ssl_ca: "{{ item.master_ssl_ca | default(omit) }}"
    master_ssl_capath: "{{ item.master_ssl_capath | default(omit) }}"
    master_ssl_cert: "{{ item.master_ssl_cert | default(omit) }}"
    master_ssl_cipher: "{{ item.master_ssl_cipher | default(omit) }}"
    master_ssl_key: "{{ item.master_ssl_key | default(omit) }}"
    master_user: "{{ item.master_user | default(omit) }}"
    # Login
    login_host: "{{ item.login_host | default(manala_mysql_login_host | default(omit, True), True) }}"
    login_port: "{{ item.login_port | default(manala_mysql_login_port | default(omit, True), True) }}"
    login_unix_socket: "{{ item.login_unix_socket | default(manala_mysql_login_unix_socket | default(omit, True), True) }}"
    login_user: "{{ item.login_user | default(manala_mysql_login_user | default(omit, True), True) }}"
    login_password: "{{ item.login_password | default(manala_mysql_login_password | default(omit, True), True) }}"
  loop: "{{ manala_mysql_replications }}"
  when: manala_mysql_server
