---

file:
  {{ tests_dir }}:
    exists: true
    filetype: directory
    owner: root
    group: root
    mode: "0755"
  {{ tests_dir }}/dict-server:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      bar yes
      baz no
      corge foo
      corge bar
      corge baz
      foo none
      grault
          bar 123
          foo bar
      quux 123
      qux foo
  {{ tests_dir }}/dict-client:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      foo bar
  {{ tests_dir }}/content-server:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  {{ tests_dir }}/content-client:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  {{ tests_dir }}/template-server:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  {{ tests_dir }}/template-client:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
