---

package:
  openssh-server:
    installed: true
  openssh-client:
    installed: true

service:
  ssh:
    enabled: true
    running: true

file:
  /etc/ssh/ssh_known_hosts:
    exists: true
    contains:
      - github.com ssh-rsa

