{%- import '_macros.j2' as macros with context -%}

{%- set config = item.config|default([]) -%}

# If you come from bash you might have to change your $PATH.
{{ macros.config_row(config, 'export PATH', '# export PATH=$HOME/bin:/usr/local/bin:$PATH', true) }}

# Path to your oh-my-zsh installation.
{{ macros.config_row(config, 'export ZSH', manala_ohmyzsh_dir) }}

# Ensure per-user cache
{{ macros.config_row(config, 'ZSH_CACHE_DIR', '$HOME/.oh-my-zsh/cache') }}

if [[ ! -d $ZSH_CACHE_DIR ]]; then
  mkdir -p $ZSH_CACHE_DIR
fi

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
{{ macros.config_row(config, 'ZSH_THEME', 'default.dev') }}

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in ~/.oh-my-zsh/themes/
# If set to an empty array, this variable will have no effect.
{{ macros.config_row(config, 'ZSH_THEME_RANDOM_CANDIDATES', '# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )', true) }}

# Uncomment the following line to use case-sensitive completion.
{{ macros.config_row(config, 'CASE_SENSITIVE', '# CASE_SENSITIVE="true"', true) }}

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
{{ macros.config_row(config, 'HYPHEN_INSENSITIVE', '# HYPHEN_INSENSITIVE="true"', true) }}

# Uncomment the following line to disable bi-weekly auto-update checks.
{{ macros.config_row(config, 'DISABLE_AUTO_UPDATE', '# DISABLE_AUTO_UPDATE="true"', true) }}

# Uncomment the following line to automatically update without prompting.
{{ macros.config_row(config, 'DISABLE_UPDATE_PROMPT', '# DISABLE_UPDATE_PROMPT="true"', true) }}

# Uncomment the following line to change how often to auto-update (in days).
{{ macros.config_row(config, 'UPDATE_ZSH_DAYS', '# export UPDATE_ZSH_DAYS=13', true) }}

# Uncomment the following line if pasting URLs and other text is messed up.
{{ macros.config_row(config, 'DISABLE_MAGIC_FUNCTIONS', '# DISABLE_MAGIC_FUNCTIONS="true"', true) }}

# Uncomment the following line to disable colors in ls.
{{ macros.config_row(config, 'DISABLE_LS_COLORS', '# DISABLE_LS_COLORS="true"', true) }}

# Uncomment the following line to disable auto-setting terminal title.
{{ macros.config_row(config, 'DISABLE_AUTO_TITLE', '# DISABLE_AUTO_TITLE="true"', true) }}

# Uncomment the following line to enable command auto-correction.
{{ macros.config_row(config, 'ENABLE_CORRECTION', '# ENABLE_CORRECTION="true"', true) }}

# Uncomment the following line to display red dots whilst waiting for completion.
{{ macros.config_row(config, 'COMPLETION_WAITING_DOTS', true) }}

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
{{ macros.config_row(config, 'DISABLE_UNTRACKED_FILES_DIRTY', '# DISABLE_UNTRACKED_FILES_DIRTY="true"', true) }}

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
{{ macros.config_row(config, 'HIST_STAMPS', '# HIST_STAMPS="mm/dd/yyyy"', true) }}

# Would you like to use another custom folder than $ZSH/custom?
{{ macros.config_row(config, 'ZSH_CUSTOM', '# ZSH_CUSTOM=/path/to/new-custom-folder', true) }}

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
{{ macros.config_row(config, 'plugins', '(git debian common-aliases history history-substring-search thefuck)') }}

source $ZSH/oh-my-zsh.sh

# User configuration

{{ macros.config_row(config, 'export MANPATH', '# export MANPATH="/usr/local/man:$MANPATH"', true) }}

# You may need to manually set your language environment
{{ macros.config_row(config, 'export LANG', '# export LANG=en_US.UTF-8', true) }}

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
{{ macros.config_row(config, 'export ARCHFLAGS', '# export ARCHFLAGS="-arch x86_64"', true) }}

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
{{ macros.config_row(config, 'alias', '#\n# Example aliases\n# alias zshconfig="mate ~/.zshrc"\n# alias ohmyzsh="mate ~/.oh-my-zsh"', true) }}

echo

{% include '_function_ip.j2' %}

{{ macros.config(config, [
    'export PATH',
    'export ZSH',
    'ZSH_CACHE_DIR',
    'ZSH_THEME',
    'ZSH_THEME_RANDOM_CANDIDATES',
    'CASE_SENSITIVE',
    'HYPHEN_INSENSITIVE',
    'DISABLE_AUTO_UPDATE',
    'DISABLE_UPDATE_PROMPT',
    'UPDATE ZSH_DAYS',
    'DISABLE_MAGIC_FUNCTIONS',
    'DISABLE_LS_COLORS',
    'DISABLE_AUTO_TITLE',
    'ENABLE_CORRECTION',
    'COMPLETION_WAITING_DOTS',
    'DISABLE_UNTRACKED_FILES_DIRTY',
    'HIST_STAMPS',
    'ZSH_CUSTOM',
    'plugins',
    'export MANPATH',
    'export LANG',
    'export ARCHFLAGS',
    'alias'
]) }}
