#!/bin/sh

MOTD=$(cat <<'EOF'
 -{% for i in range(item.message | length) %}-{% endfor %}-
< {{ item.message }} >
 -{% for i in range(item.message | length) %}-{% endfor %}-
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\\
                ||----w |
                ||     ||

EOF
)

printf "${MOTD}\n\n\n"
