#!/bin/sh

MOTD=$(cat <<'EOF'
[38;5;28m                    ____[0m[0m
[38;5;28m                 _.' :  `._[0m
[38;5;28m             .-.'`.  ;   .'`.-.[0m
[38;5;28m    __      / : ___\ ;  /___ ; \      __[0m
[38;5;28m  ,'_ ""--.:__;".-.";: :".-.":__;.--"" _`,[0m
[38;5;28m  :' `.t""--.. '[38;5;241m<[38;5;234m@[38;5;241m,[38;5;28m`;_  '[38;5;241m,[38;5;234m@[38;5;241m>[38;5;28m` ..--""j.' `;[0m
[38;5;28m       `:-.._J '-.-'L__ `-- ' L_..-;'[0m
[38;5;28m         "-.__ ;  .-"  "-.  : __.-"[0m
[38;5;28m             L ' /.------.\ ' J[0m
[38;5;28m              "-.   "--"   .-"[0m
[38;5;230m             [0m[38;5;94m__[38;5;28m.l"-:_JL_;-";.[0m[38;5;94m__[0m
[38;5;230m          .-j[0m[38;5;94m/'.[38;5;28m;  ;""""  /[0m[38;5;94m .'[0m[38;5;230m\"-.[0m
[38;5;230m        .' /:[0m[38;5;94m`. "-.[38;5;28m:    :[0m[38;5;94m.-" .'[0m[38;5;230m;  `.[0m
[38;5;230m     .-"  / ;[0m[38;5;94m  "-. "-..-" .-"[0m[38;5;230m  :    "-.[0m
[38;5;230m  .+"-.  : : [0m[38;5;94m     "-.__.-"[0m[38;5;230m      ;-._   \[0m
[38;5;230m  ; \  `.; ;                    : : "+. ;[0m
[38;5;230m  :  ;   ; ;                    : ;  : \:[0m
[38;5;230m : `."-; ;  ;                  :  ;   ,/;[0m
[38;5;230m  ;    -: ;  :                ;  : .-"'  :[0m
[38;5;230m  :\     \  : ;             : \.-"      :[0m
[38;5;230m   ;`.    \  ; :            ;.'_..--  / ;[0m
[38;5;230m   :  "-.  "-:  ;          :/."      .'  :[0m
[38;5;230m     \       .-`.\        /t-""  ":-+.   :[0m
[38;5;230m      `.  .-"    `l    [0m[38;5;28m__/ /[0m[38;5;94m`. :  ; ;[0m[38;5;230m \  ;[0m
[38;5;230m        \   .-" .-"[0m[38;5;28m-.-"  .' .'[0m[38;5;94mj \  /[0m[38;5;230m   ;/[0m
[38;5;230m         \ / .-"[0m[38;5;28m   /.     .'.' [0m[38;5;94m;_:'[0m[38;5;230m    ;[0m
[38;5;230m          :-""[0m[38;5;28m-.`./-.'     /[0m[38;5;230m    `.___.'[0m
[38;5;28m                \ `t  ._  /[0m
[38;5;28m                 "-.t-._:'[0m

{{ item.message | center(42) }}

EOF
)

printf "${MOTD}\n\n\n"
