---

file:
  /etc/apt/sources.list.d/default.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      X-Repolib-Name: default
{% if ansible_facts.distribution_release in ['bullseye'] %}
{% elif ansible_facts.distribution_release in ['bookworm'] %}
      Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% else %}
      Signed-By: /usr/share/keyrings/debian-archive-keyring.pgp
{% endif %}
      Suites: {{ ansible_facts.distribution_release }}
      Types: deb
      URIs: http://deb.debian.org/debian
  /etc/apt/sources.list.d/security.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      X-Repolib-Name: security
{% if ansible_facts.distribution_release in ['bullseye'] %}
{% elif ansible_facts.distribution_release in ['bookworm'] %}
      Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% else %}
      Signed-By: /usr/share/keyrings/debian-archive-keyring.pgp
{% endif %}
      Suites: {{ ansible_facts.distribution_release }}-security
      Types: deb
      URIs: http://deb.debian.org/debian-security
  /etc/apt/sources.list.d/updates.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      X-Repolib-Name: updates
{% if ansible_facts.distribution_release in ['bullseye'] %}
{% elif ansible_facts.distribution_release in ['bookworm'] %}
      Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% else %}
      Signed-By: /usr/share/keyrings/debian-archive-keyring.pgp
{% endif %}
      Suites: {{ ansible_facts.distribution_release }}-updates
      Types: deb
      URIs: http://deb.debian.org/debian
  /etc/apt/sources.list.d/present-existing.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      Enabled: no
      X-Repolib-Name: present_existing
      Suites: {{ ansible_facts.distribution_release }}
      Types: deb
      URIs: https://example.com
  /etc/apt/sources.list.d/absent-exclusive.sources:
    exists: false
  /etc/apt/sources.list.d/ignore-existing.sources:
    exists: false
  /etc/apt/sources.list.d/ignore-not-existing.sources:
    exists: false
