---

file:

  # Content
  {{ tests_dir }}/content:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  # Template
  {{ tests_dir }}/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
  # Deleted
  {{ tests_dir }}/delete:
    exists: false
