[Service]

EnvironmentFile=-{{ manala_varnish_config_file }}

# Emptying default values
ExecStart=
ExecReload=

ExecStart=/usr/sbin/varnishd -a ${VARNISH_LISTEN_ADDRESS}:${VARNISH_LISTEN_PORT} \
                             -f ${VARNISH_VCL_CONF} \
                             -T ${VARNISH_ADMIN_LISTEN_ADDRESS}:${VARNISH_ADMIN_LISTEN_PORT} \
                             -t ${VARNISH_TTL} \
                             -S ${VARNISH_SECRET_FILE} \
                             -s ${VARNISH_STORAGE}

ExecReload=/usr/share/varnish/reload-vcl
