{%- if manala_maxscale_version|default(0, true) is version('2.2', '<') -%}
{%- for user in manala_maxscale_network_users -%}
  {{ user.name }}:{{ user.password }}
{% endfor -%}
{%- else -%}
[
  {%- for user in manala_maxscale_network_users -%}
    {{ {'account': 'admin'}|combine(user)|to_json }}{%- if not loop.last -%},{%- endif -%}
  {%- endfor -%}
]
{%- endif -%}