{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = manala_elasticsearch_environment -%}

################################
# Elasticsearch
################################

# Elasticsearch home directory
{{ macros.config_row(config, 'ES_HOME', '#ES_HOME=/usr/share/elasticsearch', 0, true) }}

# Elasticsearch configuration directory
{{ macros.config_row(config, 'CONF_DIR', '#CONF_DIR=/etc/elasticsearch', 0, true) }}

# Elasticsearch configuration file
{{ macros.config_row(config, 'CONF_FILE', '#CONF_FILE=$CONF_DIR/elasticsearch.yml', 0, true) }}

# Elasticsearch data directory
{{ macros.config_row(config, 'DATA_DIR', '#DATA_DIR=/var/lib/elasticsearch', 0, true) }}

# Elasticsearch logs directory
{{ macros.config_row(config, 'LOG_DIR', '#LOG_DIR=/var/log/elasticsearch', 0, true) }}

# Elasticsearch work directory
{{ macros.config_row(config, 'WORK_DIR', '#WORK_DIR=/tmp/elasticsearch', 0, true) }}

# Elasticsearch PID directory
{{ macros.config_row(config, 'PID_DIR', '#PID_DIR=/var/run/elasticsearch', 0, true) }}

# Heap size defaults to 256m min, 1g max
# Set ES_HEAP_SIZE to 50% of available RAM, but no more than 31g
{{ macros.config_row(config, 'ES_HEAP_SIZE', '#ES_HEAP_SIZE=2g', 0, true) }}

# Heap new generation
{{ macros.config_row(config, 'ES_HEAP_NEWSIZE', '#ES_HEAP_NEWSIZE=', 0, true) }}

# Maximum direct memory
{{ macros.config_row(config, 'ES_DIRECT_SIZE', '#ES_DIRECT_SIZE=', 0, true) }}

# Additional Java OPTS
{{ macros.config_row(config, 'ES_JAVA_OPTS', '#ES_JAVA_OPTS=', 0, true) }}

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
{{ macros.config_row(config, 'ES_RESTART_ON_UPGRADE', '#ES_RESTART_ON_UPGRADE=true', 0, true) }}

# Path to the GC log file
{{ macros.config_row(config, 'ES_GC_LOG_FILE', '#ES_GC_LOG_FILE=/var/log/elasticsearch/gc.log', 0, true) }}

################################
# Elasticsearch service
################################

# SysV init.d
#
# When executing the init script, this user will be used to run the elasticsearch service.
# The default value is 'elasticsearch' and is declared in the init.d file.
# Note that this setting is only used by the init script. If changed, make sure that
# the configured user can read and write into the data, work, plugins and log directories.
# For systemd service, the user is usually configured in file /usr/lib/systemd/system/elasticsearch.service
{{ macros.config_row(config, 'ES_USER', '#ES_USER=elasticsearch', 0, true) }}
{{ macros.config_row(config, 'ES_GROUP', '#ES_GROUP=elasticsearch', 0, true) }}

################################
# System properties
################################

# Specifies the maximum file descriptor number that can be opened by this process
# When using Systemd, this setting is ignored and the LimitNOFILE defined in
# /usr/lib/systemd/system/elasticsearch.service takes precedence
{{ macros.config_row(config, 'MAX_OPEN_FILES', '#MAX_OPEN_FILES=65535', 0, true) }}

# The maximum number of bytes of memory that may be locked into RAM
# Set to "unlimited" if you use the 'bootstrap.mlockall: true' option
# in elasticsearch.yml (ES_HEAP_SIZE  must also be set).
# When using Systemd, the LimitMEMLOCK property must be set
# in /usr/lib/systemd/system/elasticsearch.service
{{ macros.config_row(config, 'MAX_LOCKED_MEMORY', '#MAX_LOCKED_MEMORY=unlimited', 0, true) }}

# Maximum number of VMA (Virtual Memory Areas) a process can own
# When using Systemd, this setting is ignored and the 'vm.max_map_count'
# property is set at boot time in /usr/lib/sysctl.d/elasticsearch.conf
{{ macros.config_row(config, 'MAX_MAP_COUNT', '#MAX_MAP_COUNT=262144', 0, true) }}

{{ macros.config(config, [
  'ES_HOME',
  'CONF_DIR',
  'CONF_FILE',
  'DATA_DIR',
  'LOG_DIR',
  'WORK_DIR',
  'PID_DIR',
  'ES_HEAP_SIZE',
  'ES_HEAP_NEWSIZE',
  'ES_DIRECT_SIZE',
  'ES_JAVA_OPTS',
  'ES_RESTART_ON_UPGRADE',
  'ES_GC_LOG_FILE',
  'ES_USER',
  'ES_GROUP',
  'MAX_OPEN_FILES',
  'MAX_LOCKED_MEMORY',
  'MAX_MAP_COUNT'
]) -}}
