---

package:
  ansible:
    installed: true

command:
  dpkg -s ansible:
    exit-status: 0
    stdout:
      - "/^Version: \\d+/"
  ansible --version:
    exit-status: 0
    stdout:
{% if ansible_facts.distribution_major_version is version('11', '<=') %}
      - "/^ansible \\d+\\.\\d+\\.\\d+/"
{% else %}
      - "/^ansible \\[core \\d+\\.\\d+\\.\\d+[a-z0-9]*\\]/"
{% endif %}
