---

file:
  {{ tests_dir }}/dict:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      [agent]
      hostname = "test.manala.dev"
      metric_batch_size = 1234
      quiet = true
      
      [global_tags]
      foo = "bar"

      [[inputs.cpu]]
      
      [[outputs.file]]
      files = ["/dev/null"]
  {{ tests_dir }}/content:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Content
  {{ tests_dir }}/template:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Template
