{% for user in manala_proftpd_users -%}
    {{ user.name }}:{{ user.password }}:{{ user.uid | default(manala_proftpd_users_defaults.uid) }}:{{ user.gid | default(manala_proftpd_users_defaults.gid) }}::{{ user.home | default(manala_proftpd_users_defaults.home) }}:{{ user.shell | default(manala_proftpd_users_defaults.shell | default('/bin/false')) }}
{% endfor %}
