{% for user in manala_proftpd_users %}
    {{ user.name }}:{{ user.password }}:{{ user.uid|default(manala_proftpd_users_default_uid) }}:{{ user.gid|default(manala_proftpd_users_default_gid) }}::{{ user.home }}:{{ user.shell|default('/bin/false') }}
{% endfor %}
