---

file:
  {{ tests_dir }}/db.template:
    exists: true
    filetype: file
    owner: bind
    group: bind
    mode: "0644"
    contains:
      - "/^Template$/"
  {{ tests_dir }}/db.content:
    exists: true
    filetype: file
    owner: bind
    group: bind
    mode: "0644"
    contains:
      - "/^Content$/"
  {{ tests_dir }}/db.state_absent_existing:
    exists: false
  {{ tests_dir }}/db.omit:
    exists: false
  {{ tests_dir }}/db.dynamic:
    exists: true
    filetype: file
    owner: bind
    group: bind
    mode: "0644"
    contains:
      - "/^Dynamic$/"
  {{ tests_dir }}/db.dynamic_existing:
    exists: true
    contains:
      - "!/^Dynamic existing$/"
