{{ elao_bind_log_dir }}/*.log {
    weekly
    rotate 52
    compress
    delaycompress
    missingok
    notifempty
    create 0664 {{ elao_bind_user }} {{ elao_bind_group }}
    postrotate
        /etc/init.d/bind9 reload > /dev/null
    endscript
}
