---

file:
  {{ tests_dir }}/dict:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      255	local
      254	main
      253	default
      25	foo
      123	bar
