---

# Redis version. Available values are '~' (autodetect), '2.4', '2.8', '3.0', '4.0', '5.0'
manala_redis_version: ~

# Install
manala_redis_server: true
manala_redis_sentinel: false

# Install
manala_redis_install_packages: ~
manala_redis_install_packages_default: "{{
  []
  + (manala_redis_server)|ternary(['redis-server'], [])
  + (manala_redis_sentinel)|ternary(['redis-sentinel'], [])
}}"

# Config
manala_redis_config_file: /etc/redis/redis.conf
manala_redis_config_template: ~
manala_redis_config: []

manala_redis_sentinel_config_file: /etc/redis/sentinel.conf
manala_redis_sentinel_config: {}
