name: manala-ansible-roles

services:

    ##########
    # System #
    ##########

    system:
        hostname: manala-ansible-roles
        build:
            context: ..
            dockerfile: docker/Dockerfile
        image: manala-ansible-roles:20230311083344
        volumes:
            - ../..:${MANALA_DIR}
        environment:
            MANALA_DIR: ${MANALA_DIR}
            MANALA_CACHE_DIR: ${MANALA_CACHE_DIR}
        env_file:
            - ../../.env.dist
            - ../../.env
        working_dir: ${MANALA_DIR}
        # Use default docker bridge network
        network_mode: bridge
