{%- import '_macros.j2' as macros with context -%}

{% set config = elao_apt_sources_list -%}

deb http://httpredir.debian.org/debian {{ ansible_distribution_release }} {{ elao_apt_components|join(' ') }}
deb http://security.debian.org/ {{ ansible_distribution_release }}/updates {{ elao_apt_components|join(' ') }}
deb http://httpredir.debian.org/debian {{ ansible_distribution_release }}-updates {{ elao_apt_components|join(' ') }}
{{ macros.config(config) }}