{%- import '_macros.j2' as macros with context -%}

{% set config = elao_apt_sources_list -%}

deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} {{ elao_apt_components|join(' ') }}
{{ macros.config(config) }}