{% set environment = manala_keepalived_environment | default({}, true) -%}

# Options to pass to keepalived

# DAEMON_ARGS are appended to the keepalived command-line
{{ environment | manala.roles.environment_parameter('DAEMON_ARGS') }}

{{ environment | manala.roles.environment(exclude=['DAEMON_ARGS']) }}
