 {% for i in range(elao_motd_message|length + 2) %}-{% endfor %} 
< {{ elao_motd_message }} >
 {% for i in range(elao_motd_message|length + 2) %}-{% endfor %} 
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

