{% for entries in elao_git_config %}
{% for key, config in entries.iteritems() %}
[{{ key }}{% if config.has_key('option') %} "{{ config.get('option') }}"{% endif %}]
{% for entry, value in config.iteritems() -%}
{% if entry != "option" %}
    {{ entry }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
