{% for key, interface in elao_network_interfaces.iteritems() %}

auto {{ key }}
iface {{ key }} {{  interface.family }} {{  interface.method }}
    {% if interface.address is defined %}
    address   {{ interface.address }}
    {% endif %}
    {% if interface.netmask is defined %}
    netmask   {{ interface.netmask }}
    {% endif %}
    {% if interface.gateway is defined %}
    gateway   {{ interface.gateway }}
    {% endif %}
    {% if interface.network is defined %}
    network   {{ interface.network }}
    {% endif %}
    {% if interface.broadcast is defined %}
    broadcast {{ interface.broadcast }}
    {% endif %}
    
    {% if interface.options is defined %}
    {% for option in interface.options %}
        {{ option }}
    {% endfor %}
    {% endif %}

{% endfor %}

