{% set server_type = _zone.servers|selectattr('address', 'equalto', ansible_venet0_0.ipv4.address)|map(attribute='type')|first %}

{% for zone in elao_bind_zones %}
{% set reverse_zone = zone.network|regex_replace('^([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\/([0-9]{1,2})$', '\\3.\\2.\\1') %}

zone "{{ zone.domain }}" IN {
        type {{ server_type }};
        file "/etc/bind/zones/db.{{ zone.domain }}";
        
        {% if server_type == 'master' -%}
        allow-update   { none; };
        {% else %}
        
        {% endif %}
};

zone "{{ reverse_zone }}.in-addr.arpa" IN {
        type {{ server_type }};
        file "/etc/bind/zones/rev.{{ reverse_zone }}.in-addr.arpa";
        
        allow-update { none; };
};
{% endfor %}
