options {
    {% for key, option in elao_bind_options.iteritems() %}
    {{ key }}  {% for i in range(20 - key|length) %} {% endfor %} {{ option }};
    {% endfor %}
};

logging{
  channel custom_log{
    file "/var/log/bind/bind9.log" versions 3 size 250k;
    severity info;
  };
  category default{
    custom_log;
  };
};
