#SOURCE    DEST    POLICY     LOG      LIMIT:       CONNLIMIT:
#                             LEVEL    BURST        MASK

{% for item in elao_shorewall_config.policy -%}
{% if item.source is not defined %}

# {{ item }}
{% else %}
{{ item.source }}{% for i in range(11 - item.source|length) %} {% endfor %}
{{- item.dest }}{% for i in range(8 - item.dest|length) %} {% endfor %}
{{- item.policy }}
{%- if item.log is defined %}{% for i in range(11 - item.policy|length) %} {% endfor %}{{ item.log }}{% endif %}

{% endif %}
{% endfor %} 
#LAST LINE -- DO NOT REMOVE
