#ZONE   TYPE            OPTIONS         IN                      OUT
#                                       OPTIONS                 OPTIONS

{% for name, zone in elao_shorewall_config.zones.iteritems() -%}
    {{ name }}{% for i in range(8 - name|length) %} {% endfor %}
    {{- zone.type }}
{% endfor %}
