#ZONE   TYPE            OPTIONS         IN                      OUT
#                                       OPTIONS                 OPTIONS

{% for zone in elao_shorewall_config.zones -%}
    {{ zone.name }}{% for i in range(8 - zone.name|length) %} {% endfor %}
    {{- zone.type }}
{% endfor %}
