{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}
{% set section = 'inputs.disk' -%}

# Read metrics about disk usage by mount point
[[{{ section }}]]
  ## By default stats will be gathered for all mount points.
  ## Set mount_points will restrict the stats to only the specified mount points.
  {{ macros.config_row(config, 'mount_points', '# mount_points = ["/"]', 0, true) }}

  ## Ignore mount points by filesystem type.
  {{ macros.config_row(config, 'ignore_fs', ['tmpfs', 'devtmpfs', 'devfs', 'overlay', 'aufs', 'squashfs']) }}

{{ macros.config(config, [
  'mount_points',
  'ignore_fs',
  'tags',
  'tagpass',
  'tagdrop'
], 2) }}

{%- include '_tags.j2' %}
