{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) %}
{% set section = 'inputs.cpu' -%}

# Read metrics about cpu usage
[[{{ section }}]]
  ## Whether to report per-cpu stats or not
  {{ macros.config_row(config, 'percpu', true) }}
  ## Whether to report total system cpu stats or not
  {{ macros.config_row(config, 'totalcpu', true) }}
  ## If true, collect raw CPU time metrics.
  {{ macros.config_row(config, 'collect_cpu_time', false) }}
  ## If true, compute and report the sum of all non-idle CPU states.
  {{ macros.config_row(config, 'report_active', false) }}

{{ macros.config(config, [
  'percpu',
  'totalcpu',
  'collect_cpu_time',
  'report_active',
  'tags',
  'tagpass',
  'tagdrop'
], 2) }}

{%- include '_tags.j2' %}
