{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = item.config|default([]) -%}
{% set section = 'inputs.diskio' -%}

# Read metrics about disk IO by device
[[{{ section }}]]
  ## By default, telegraf will gather stats for all devices including
  ## disk partitions.
  ## Setting devices will restrict the stats to the specified devices.
  {{ macros.config_row(config, 'devices', '# devices = ["sda", "sdb", "vd*"]', 0, true) }}
  ## Uncomment the following line if you need disk serial numbers.
  {{ macros.config_row(config, 'skip_serial_number', '# skip_serial_number = false', 0, true) }}
  #
  ## On systems which support it, device metadata can be added in the form of
  ## tags.
  ## Currently only Linux is supported via udev properties. You can view
  ## available properties for a device by running:
  ## 'udevadm info -q property -n /dev/sda'
  {{ macros.config_row(config, 'device_tags', '# device_tags = ["ID_FS_TYPE", "ID_FS_USAGE"]', 0, true) }}
  #
  ## Using the same metadata source as device_tags, you can also customize the
  ## name of the device via templates.
  ## The 'name_templates' parameter is a list of templates to try and apply to
  ## the device. The template may contain variables in the form of '$PROPERTY' or
  ## '${PROPERTY}'. The first template which does not contain any variables not
  ## present for the device is used as the device name tag.
  ## The typical use case is for LVM volumes, to get the VG/LV name instead of
  ## the near-meaningless DM-0 name.
  {{ macros.config_row(config, 'name_templates', '# name_templates = ["$ID_FS_LABEL","$DM_VG_NAME/$DM_LV_NAME"]', 0, true) }}

{{ macros.config(config, [
  'devices',
  'skip_serial_number',
  'device_tags',
  'name_templates',
  'tags',
  'tagpass',
  'tagdrop'
], 2) }}

{%- include '_tags.j2' %}
