---

file:
  {{ manala_ngrok_bin }}:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0755"

command:
  {{ manala_ngrok_bin }} --version:
    exit-status: 0
    stdout:
      - ngrok version
