---

package:
  nodejs:
    installed: true

command:
  node --version:
    exit-status: 0
    stdout:
      - "/^v22.\\d+\\.\\d+$/"
  npm --version:
    exit-status: 0
    stdout:
      - "/^10.\\d+\\.\\d+$/"
