---


- name: Converge 1/2
  hosts: all

############
# Pre_task #
############

  pre_tasks:
    - include_role:
        name: manala.apt
      when: ansible_distribution_release in ['jessie']
      vars:
        manala_apt_repositories:
          - backports

########
# Task #
########

  tasks:
    - include_role:
        name: manala.haproxy
      vars:
        manala_haproxy_errorfiles:
          - file: 400.http
            template: fixtures/400.http.j2
        manala_haproxy_config_template: fixtures/haproxy.cfg.j2
        manala_haproxy_configs_dir: "/etc/haproxy/conf.d.test"
        manala_haproxy_configs:
          - file: haproxy.cfg
            template: fixtures/haproxy.cfg.j2
          - file: foo.cfg
            state: present
          - file: bar.cfg
            state: absent
          - file: baz.cfg
            state: present
        manala_haproxy_environment_file: /etc/default/haproxy.test
        manala_haproxy_environment:
          - CONFIG: /etc/haproxy/conf.d.test

- name: Converge 2/2
  hosts: all
  become: true
  tasks:
    - include_role:
        name: manala.haproxy
      vars:
        manala_haproxy_configs_dir: "/etc/haproxy/conf.d.test"
        manala_haproxy_configs:
          - file: baz.cfg
            state: absent
