{%- import '_macros.j2' as macros with context -%}

{%- set config = manala_ssh_server_config -%}

{{ macros.config_row(config, 'PermitRootLogin', true) }}
{{ macros.config_row(config, 'PermitEmptyPasswords', true) }}
{{ macros.config_row(config, 'ChallengeResponseAuthentication', false) }}
{{ macros.config_row(config, 'PasswordAuthentication', true) }}
{{ macros.config_row(config, 'X11Forwarding', true) }}
{{ macros.config_row(config, 'PrintMotd', false) }}
{{ macros.config_row(config, 'Subsystem', 'sftp /usr/lib/openssh/sftp-server') }}
{{ macros.config_row(config, 'UsePAM', true) }}
{{ macros.config_row(config, 'UseDNS', false) }}
{{ macros.config_row(config, 'PrintLastLog', false) }}

{{ macros.config(config, [
    'PermitRootLogin',
    'PermitEmptyPasswords',
    'ChallengeResponseAuthentication',
    'PasswordAuthentication',
    'X11Forwarding',
    'PrintMotd',
    'Subsystem',
    'UsePAM',
    'UseDNS',
    'PrintLastLog'
]) }}
