---

- name: containers > Create docker containers
  docker_container:
    name:               "{{ item.name }}"
    image:              "{{ item.image|default(omit) }}"
    pull:               "{{ item.pull|default(omit) }}"
    hostname:           "{{ item.hostname|default(omit) }}"
    user:               "{{ item.user|default(omit) }}"
    state:              "{{ item.state|default('started') }}"
    restart_policy:     "{{ item.restart_policy|default('on-failure') }}"
    dns_servers:        "{{ item.dns_servers|default(omit) }}"
    dns_search_domains: "{{ item.dns_search_domains|default(omit) }}"
    volumes:            "{{ item.volumes|default(omit) }}"
    ports:              "{{ item.ports|default(omit) }}"
    links:              "{{ item.links|default(omit) }}"
    env:                "{{ item.env|default(omit) }}"
    entrypoint:         "{{ item.entrypoint|default(omit) }}"
    command:            "{{ item.command|default(omit) }}"
    memory:             "{{ item.memory|default(omit) }}"
    memory_reservation: "{{ item.memory_reservation|default(omit) }}"
    memory_swap:        "{{ item.memory_swap|default(omit) }}"
    memory_swappiness:  "{{ item.memory_swappiness|default(omit) }}"
    ulimits:            "{{ item.ulimits|default(omit) }}"
    privileged:         "{{ item.privileged|default(omit) }}"
    capabilities:       "{{ item.capabilities|default(omit) }}"
  with_items: "{{ manala_docker_containers }}"
