 -{% for i in range(manala_motd_message|length) %}-{% endfor %}-
< {{ manala_motd_message }} >
 -{% for i in range(manala_motd_message|length) %}-{% endfor %}-
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

