{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = manala_mongodb_config -%}

# mongod.conf

# Where to store the data.

# Note: if you run mongodb as a non-root user (recommended) you may
# need to create and set permissions for this directory manually,
# e.g., if the parent directory isn't mutable by the mongodb user.
{{ macros.config_row(config, 'dbpath', '/var/lib/mongodb') }}

#where to log
{{ macros.config_row(config, 'logpath', '/var/log/mongodb/mongod.log') }}

{{ macros.config_row(config, 'logappend', true) }}

{{ macros.config_row(config, 'port', '#port = 27017', true) }}

# Listen to local interface only. Comment out to listen on all interfaces.
{{ macros.config_row(config, 'bind_ip', '127.0.0.1') }}

# Disables write-ahead journaling
{{ macros.config_row(config, 'nojournal', '# nojournal = true', true) }}

# Enables periodic logging of CPU utilization and I/O wait
{{ macros.config_row(config, 'cpu', '#cpu = true', true) }}

# Turn on/off security.  Off is currently the default
{{ macros.config_row(config, 'noauth', '#noauth = true', true) }}
{{ macros.config_row(config, 'auth', '#auth = true', true) }}

# Verbose logging output.
{{ macros.config_row(config, 'verbose', '#verbose = true', true) }}

# Inspect all client data for validity on receipt (useful for
# developing drivers)
{{ macros.config_row(config, 'objcheck', '#objcheck = true', true) }}

# Enable db quota management
{{ macros.config_row(config, 'quota', '#quota = true', true) }}

# Set oplogging level where n is
#   0=off (default)
#   1=W
#   2=R
#   3=both
#   7=W+some reads
{{ macros.config_row(config, 'diaglog', '#diaglog = 0', true) }}

# Ignore query hints
{{ macros.config_row(config, 'nohints', '#nohints = true', true) }}

# Enable the HTTP interface (Defaults to port 28017).
{{ macros.config_row(config, 'httpinterface', '#httpinterface = true', true) }}

# Turns off server-side scripting.  This will result in greatly limited
# functionality
{{ macros.config_row(config, 'noscripting', '#noscripting = true', true) }}

# Turns off table scans.  Any query that would do a table scan fails.
{{ macros.config_row(config, 'notablescan', '#notablescan = true', true) }}

# Disable data file preallocation.
{{ macros.config_row(config, 'noprealloc', '#noprealloc = true', true) }}

# Specify .ns file size for new databases.
{{ macros.config_row(config, 'nssize', '# nssize = <size>', true) }}

# Replication Options

# in replicated mongo databases, specify the replica set name here
{{ macros.config_row(config, 'replSet', '# replSet=name', true) }}
# maximum size in megabytes for replication operation log
{{ macros.config_row(config, 'oplogSize', '# oplogSize=1024', true) }}
# path to a key file storing authentication info for connections
# between replica set members
{{ macros.config_row(config, 'keyFile', '# keyFile=/path/to/keyfile', true) }}
