{#- Deprecated -#}

{%- import '_macros.j2' as macros with context -%}

{% set config = manala_elasticsearch_config -%}

# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please see the documentation for further information on configuration options:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html>
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
{{ macros.config_row(config, 'cluster.name', '# cluster.name: my-application', 0, true) }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
{{ macros.config_row(config, 'node.name', '# node.name: node-1', 0, true) }}
#
# Add custom attributes to the node:
#
{{ macros.config_row(config, 'node.rack', '# node.rack: r1', 0, true) }}
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
{{ macros.config_row(config, 'path.data', '# path.data: /path/to/data', 0, true) }}
#
# Path to log files:
#
{{ macros.config_row(config, 'path.logs', '# path.logs: /path/to/logs', 0, true) }}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
{{ macros.config_row(config, 'bootstrap.memory_lock', '# bootstrap.memory_lock: true', 0, true) }}
#
# Make sure that the `ES_HEAP_SIZE` environment variable is set to about half the memory
# available on the system and that the owner of the process is allowed to use this limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
{{ macros.config_row(config, 'network.host', '# network.host: 192.168.0.1', 0, true) }}
#
# Set a custom port for HTTP:
#
{{ macros.config_row(config, 'http.port', '# http.port: 9200', 0, true) }}
#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html>
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
{{ macros.config_row(config, 'discovery.zen.ping.unicast.hosts', '# discovery.zen.ping.unicast.hosts: ["host1", "host2"]', 0, true) }}
#
# Prevent the "split brain" by configuring the majority of nodes (total number of nodes / 2 + 1):
#
{{ macros.config_row(config, 'discovery.zen.minimum_master_nodes', '# discovery.zen.minimum_master_nodes: 3', 0, true) }}
#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery.html>
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
{{ macros.config_row(config, 'gateway.recover_after_nodes', '# gateway.recover_after_nodes: 3', 0, true) }}
#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-gateway.html>
#
# ---------------------------------- Various -----------------------------------
#
# Disable starting multiple nodes on a single system:
#
{{ macros.config_row(config, 'node.max_local_storage_nodes', '# node.max_local_storage_nodes: 1', 0, true) }}
#
# Require explicit names when deleting indices:
#
{{ macros.config_row(config, 'action.destructive_requires_name', '# action.destructive_requires_name: true', 0, true) }}

{{ macros.config(config, [
  'cluster.name',
  'node.name',
  'node.rack',
  'path.data',
  'path.logs',
  'bootstrap.memory_lock',
  'network.host',
  'http.port',
  'discovery.zen.ping.unicast.hosts',
  'discovery.zen.minimum_master_nodes',
  'gateway.recover_after_nodes',
  'node.max_local_storage_nodes',
  'action.destructive_requires_name'
]) -}}
