---

###########
# Default #
###########

- name: Default
  tags: [default]
  hosts: debian
  tasks:
    - block:  # noqa: name[missing]
        - name: Role
          ansible.builtin.import_role:
            name: manala.roles.docker
          vars:
            manala_docker_config_daemon:
              storage-driver: vfs
      always:
        - name: Goss
          ansible.builtin.command:
            cmd: goss --gossfile - validate
            stdin: "{{ lookup('ansible.builtin.template', 'goss/default.yml.j2') }}"
          changed_when: false

#################
# Config Daemon #
#################

- name: Config Daemon
  tags: [config_daemon]
  hosts: debian
  vars:
    tests_dir: /molecule/docker/config_daemon
  tasks:
    - name: Clean tests dir
      ansible.builtin.file:  # noqa: risky-file-permissions
        path: "{{ tests_dir }}"
        state: "{{ item }}"
      loop: [absent, directory]
    - block:  # noqa: name[missing]
        - name: Role
          ansible.builtin.import_role:
            # Play role fully on first run, so that handlers don't breaks
            name: manala.roles.docker
          vars:
            manala_docker_config_daemon:
              storage-driver: vfs
        - name: Role - Dict
          ansible.builtin.import_role:
            name: manala.roles.docker
            tasks_from: config_daemon
          vars:
            manala_docker_config_daemon_file: "{{ tests_dir }}/dict"
            manala_docker_config_daemon_template: ~
            manala_docker_config_daemon:
              storage-driver: vfs
              experimental: false
        - name: Role - Content
          ansible.builtin.import_role:
            name: manala.roles.docker
            tasks_from: config_daemon
          vars:
            manala_docker_config_daemon_file: "{{ tests_dir }}/content"
            manala_docker_config_daemon_template: ~
            manala_docker_config_daemon: |
              Content
        - name: Role - Template
          ansible.builtin.import_role:
            name: manala.roles.docker
            tasks_from: config_daemon
          vars:
            manala_docker_config_daemon_file: "{{ tests_dir }}/template"
            manala_docker_config_daemon_template: fixtures/template.j2
            manala_docker_config_daemon: ~
      always:
        - name: Goss
          ansible.builtin.command:
            cmd: goss --gossfile - validate
            stdin: "{{ lookup('ansible.builtin.template', 'goss/config_daemon.yml.j2') }}"
          changed_when: false

################
# Applications #
################

- name: Applications
  tags: [applications]
  hosts: debian
  vars:
    tests_dir: /molecule/docker/applications
  tasks:
    - name: Clean tests dir
      ansible.builtin.file:  # noqa: risky-file-permissions
        path: "{{ tests_dir }}"
        state: "{{ item }}"
      loop: [absent, directory]
    - block:  # noqa: name[missing]
        - name: Role
          ansible.builtin.import_role:
            name: manala.roles.docker
          vars:
            manala_docker_config_daemon:
              storage-driver: vfs
            manala_docker_applications_dir: "{{ tests_dir }}"
            manala_docker_applications:
              - hello-world
              - application: npm
                image: node
                command: npm
                tag: alpine
              - application: template
                template: fixtures/template.j2
      always:
        - name: Goss
          ansible.builtin.command:
            cmd: goss --gossfile - validate
            stdin: "{{ lookup('ansible.builtin.template', 'goss/applications.yml.j2') }}"
          changed_when: false

##############
# Containers #
##############

- name: Containers
  tags: [containers]
  hosts: debian
  tasks:
    - block:  # noqa: name[missing]
        - name: Role
          ansible.builtin.import_role:
            name: manala.roles.docker
          vars:
            manala_docker_config_daemon:
              storage-driver: vfs
            manala_docker_containers:
              - name: hello-world
                image: hello-world
              - name: busybox
                image: busybox
                state: ignore
              # Flatten
              -
                - name: alpine
                  image: alpine
      always:
        - name: Goss
          ansible.builtin.command:
            cmd: goss --gossfile - validate
            stdin: "{{ lookup('ansible.builtin.template', 'goss/containers.yml.j2') }}"
          changed_when: false

##########
# Update #
##########

- name: Update
  tags: [update]
  hosts: debian
  tasks:
    - block:  # noqa: name[missing]
        - name: Role
          ansible.builtin.import_role:
            name: manala.roles.docker
          vars:
            manala_docker_config_daemon:
              storage-driver: vfs
            manala_docker:
              update: true
