manala_php_xdebug () {
    if [[ $1 == on ]]; then sudo rename -v 's/20-xdebug.ini.off/20-xdebug.ini/' /etc/php5/*/conf.d/20-xdebug.ini.off || sudo phpenmod -v 7.0 -s ALL xdebug
    else sudo rename -v 's/20-xdebug.ini/20-xdebug.ini.off/' /etc/php5/*/conf.d/20-xdebug.ini || sudo phpdismod -v 7.0 -s ALL xdebug; fi
    sudo service php7.0-fpm restart
}

echo " ENABLE/DISABLE NGINX TIMEOUT 
	manala_nginx_timeout on|off
"
