---

package:
  influxdb:
    installed: true

service:
  influxdb:
    enabled: true
    running: true

file:
  {{ tests_dir }}/data:
    exists: true
    filetype: directory
    owner: influxdb
    group: influxdb
    mode: "0750"
  {{ tests_dir }}/meta:
    exists: true
    filetype: directory
    owner: influxdb
    group: influxdb
    mode: "0750"
  {{ tests_dir }}/wal:
    exists: true
    filetype: directory
    owner: influxdb
    group: influxdb
    mode: "0750"

command:
  influx -execute 'show databases':
    exit-status: 0
    stdout:
      - my_db
  influx -execute 'show users':
    exit-status: 0
    stdout:
      - my_user
  influx -database my_db -execute 'show grants for my_user':
    exit-status: 0
    stdout:
      - my_db    ALL PRIVILEGES
