---

package:
  # Short syntax
  asciijump:
    installed: true
  spinner:
    installed: true
    versions:
      - 1.2.4-3
  # Verbose syntax
  freesweep:
    installed: true
  # Flatten
  wait-for-it:
    installed: true
  # State
  an:
    installed: false
  pscan:
    installed: false
  nettoe:
    installed: true
  wordplay:
    installed: false
