---

file:
  # Default - From preferences
  {{ manala_apt_repositories_dir }}/nginx.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: nginx
      X-Repolib-Name: nginx
      Signed-By: /etc/apt/keyrings/nginx.asc
      Suites: {{ ansible_facts.distribution_release }}
      Types: deb
      URIs: http://nginx.org/packages/debian
  # Default - Short syntax
  {{ manala_apt_repositories_dir }}/jenkins.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: jenkins
      Signed-By: /etc/apt/keyrings/jenkins.asc
      Suites: binary/
      Types: deb
      URIs: https://pkg.jenkins.io/debian-stable
  # Default - Pattern syntax
  {{ manala_apt_repositories_dir }}/grafana.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      X-Repolib-Name: grafana
      Signed-By: /etc/apt/keyrings/grafana.asc
      Suites: stable
      Types: deb
      URIs: https://apt.grafana.com
  # Default - Verbose syntax
  {{ manala_apt_repositories_dir }}/yarn.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      X-Repolib-Name: yarn
      Signed-By: /etc/apt/keyrings/yarn.asc
      Suites: stable
      Types: deb
      URIs: https://dl.yarnpkg.com/debian/
  {{ manala_apt_repositories_dir }}/postgresql.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      X-Repolib-Name: postgresql
      Signed-By: /etc/apt/keyrings/postgresql.asc
      Suites: {{ ansible_facts.distribution_release }}-pgdg
      Types: deb
      URIs: http://apt.postgresql.org/pub/repos/apt/
  # Default - Flatten
  {{ manala_apt_repositories_dir }}/aptly.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      X-Repolib-Name: aptly
      Signed-By: /etc/apt/keyrings/aptly.asc
      Suites: {{ ansible_facts.distribution_release }}
      Types: deb
      URIs: http://repo.aptly.info/release
  # Default - State
  {{ manala_apt_repositories_dir }}/present-implicit.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      Enabled: no
      X-Repolib-Name: present_implicit
      Suites: {{ ansible_facts.distribution_release }}
      Types: deb
      URIs: https://example.com
  {{ manala_apt_repositories_dir }}/absent-explicit.sources:
    exists: false
  {{ manala_apt_repositories_dir }}/present-explicit.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      Enabled: no
      X-Repolib-Name: present_explicit
      Suites: {{ ansible_facts.distribution_release }}
      Types: deb
      URIs: https://example.com
  {{ manala_apt_repositories_dir }}/ignore-existing.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      Components: main
      Enabled: no
      X-Repolib-Name: ignore_existing
      Suites: {{ ansible_facts.distribution_release }}
      Types: deb
      URIs: https://example.com
  {{ manala_apt_repositories_dir }}/ignore-not-existing.sources:
    exists: false
