---

file:
  # Default - From preferences
  {{ manala_apt_repositories_dir }}/nginx.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: nginx
      URIs: http://nginx.org/packages/debian
      Suites: {{ ansible_facts.distribution_release }}
      Components: nginx
      Signed-By: /etc/apt/keyrings/nginx.asc
      Types: deb
  # Default - Short syntax
  {{ manala_apt_repositories_dir }}/matomo.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: matomo
      URIs: http://debian.matomo.org/
      Suites: piwik
      Components: main
      Signed-By: /etc/apt/keyrings/matomo.gpg
      Types: deb
  # Default - Pattern syntax
  {{ manala_apt_repositories_dir }}/grafana.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: grafana
      URIs: https://apt.grafana.com
      Suites: stable
      Components: main
      Signed-By: /etc/apt/keyrings/grafana.asc
      Types: deb
  # Default - Verbose syntax
  {{ manala_apt_repositories_dir }}/yarn.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: yarn
      URIs: https://dl.yarnpkg.com/debian/
      Suites: stable
      Components: main
      Signed-By: /etc/apt/keyrings/yarn.asc
      Types: deb
  {{ manala_apt_repositories_dir }}/postgresql.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: postgresql
      URIs: http://apt.postgresql.org/pub/repos/apt/
      Suites: {{ ansible_facts.distribution_release }}-pgdg
      Components: main
      Signed-By: /etc/apt/keyrings/postgresql.asc
      Types: deb
  # Default - Flatten
  {{ manala_apt_repositories_dir }}/aptly.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: aptly
      URIs: http://repo.aptly.info/
      Suites: squeeze
      Components: main
      Signed-By: /etc/apt/keyrings/aptly.asc
      Types: deb
  # Default - State
  {{ manala_apt_repositories_dir }}/nodesource-12.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: nodesource_12
      URIs: https://deb.nodesource.com/node_12.x
      Suites: {{ ansible_facts.distribution_release }}
      Components: main
      Signed-By: /etc/apt/keyrings/nodesource-12.asc
      Types: deb
  {{ manala_apt_repositories_dir }}/nodesource-14.sources:
    exists: false
  {{ manala_apt_repositories_dir }}/nodesource-16.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: nodesource_16
      URIs: https://deb.nodesource.com/node_16.x
      Suites: {{ ansible_facts.distribution_release }}
      Components: main
      Signed-By: /etc/apt/keyrings/nodesource-16.asc
      Types: deb
  {{ manala_apt_repositories_dir }}/nodesource-18.sources:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contents: |
      X-Repolib-Name: nodesource_18
      URIs: https://deb.nodesource.com/node_18.x
      Suites: {{ ansible_facts.distribution_release }}
      Components: main
      Signed-By: /etc/apt/keyrings/nodesource-18.asc
      Types: deb
  {{ manala_apt_repositories_dir }}/nodesource-20.sources:
    exists: false
