---

file:
  # From preferences
  /etc/apt/sources.list.d/packages_sury_org_php.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb https://packages.sury.org/php/ {{ ansible_distribution_release }} main"
  # Short syntax
  /etc/apt/sources.list.d/repo_percona_com_apt.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb http://repo.percona.com/apt {{ ansible_distribution_release }} main"
  # Pattern syntax
  /etc/apt/sources.list.d/packages_grafana_com_oss_deb.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb https://packages.grafana.com/oss/deb stable main"
  # Verbose syntax
  /etc/apt/sources.list.d/dl_yarnpkg_com_debian.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb https://dl.yarnpkg.com/debian/ stable main"
  /etc/apt/sources.list.d/apt_postgresql_org_pub_repos_apt.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_distribution_release }}-pgdg main"
  # Flatten
  /etc/apt/sources.list.d/nginx_org_packages_debian.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb http://nginx.org/packages/debian/ {{ ansible_distribution_release }} nginx"
  # State
  /etc/apt/sources.list.d/deb_nodesource_com_node_10_x.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb https://deb.nodesource.com/node_10.x {{ ansible_distribution_release }} main"
  /etc/apt/sources.list.d/deb_nodesource_com_node_12_x.list:
    exists: false
  /etc/apt/sources.list.d/deb_nodesource_com_node_14_x.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb https://deb.nodesource.com/node_14.x {{ ansible_distribution_release }} main"
  /etc/apt/sources.list.d/deb_nodesource_com_node_15_x.list:
    exists: true
    filetype: file
    owner: root
    group: root
    mode: "0644"
    contains:
      - "deb https://deb.nodesource.com/node_15.x {{ ansible_distribution_release }} main"
  /etc/apt/sources.list.d/deb_nodesource_com_node_16_x.list:
    exists: false
