---

file:
  /root/.composer:
    exists: true
    filetype: directory
    owner: root
    mode: "0755"
  /root/.composer/auth.json:
    exists: true
    filetype: file
    owner: root
    mode: "0644"
    contains:
      - '{'
      - '    "github-oauth": {'
      - '        "github.com": "9927d2878ffa105fc5236c762f2fd7zfd28b841d"'
      - '    },'
      - '    "http-basic": {'
      - '        "repo.example1.org": {'
      - '            "username": "my-username1"'
      - '            "password": "my-secret-password1"'
      - '        }'
      - '    }'
      - '}'
