---

- name: install > Packages
  apt:
    name: "{{
      manala_bind_install_packages|default(manala_bind_install_packages_default, True)
      + (ansible_python.version.major == 2) | ternary(['python-dnspython'], ['python3-dnspython'])
    }}"
    install_recommends: false
    update_cache: true
    cache_valid_time: 3600
