---

package:
  php{{ manala_php_version }}-cli:
    installed: true
  php{{ manala_php_version }}-fpm:
    installed: true
  php{{ manala_php_version }}-cgi:
    installed: false
  php{{ manala_php_version }}-xml:
    installed: true
  php{{ manala_php_version }}-memcached:
    installed: true
  php{{ manala_php_version }}-tidy:
    installed: false
  php{{ manala_php_version }}-apcu:
    installed: false
