name: Molecule - Symfony cli

on:
  pull_request:
    paths:
      - .github/workflows/molecule.symfony_cli.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/symfony_cli/**
      - roles/symfony_cli/**
      # Plugins
      - plugins/filter/symfony_cli_architecture.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  symfony_cli:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: symfony_cli
