name: Molecule - Vault cli

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.vault_cli.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/vault_cli/**
      - roles/vault_cli/**
      # Plugins
      - plugins/filter/vault_cli_architecture.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  vault_cli:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: vault_cli
