name: Molecule - Gomplate

on:
  pull_request:
    paths:
      - .github/workflows/molecule.gomplate.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/gomplate/**
      - roles/gomplate/**
      # Plugins
      - plugins/filter/gomplate_architecture.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  gomplate:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: gomplate
