name: Molecule

on:
  workflow_call:
    inputs:
      debug:
        type: boolean
        required: false
        default: false
      scenario:
        type: string
        required: true
      versions:
        type: string
        required: false
        default: '[null]'

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        version: ${{ fromJson(inputs.versions) }}
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Env
        run: |
          cp .env.dist .env

      - name: Set up system
        uses: ./.manala/github/system/setup

      - name: AppArmor
        run: |
          # Disable mysqld profile
          echo "/usr/sbin/mysqld { }" | sudo tee /etc/apparmor.d/usr.sbin.mysqld
          sudo apparmor_parser -v -R /etc/apparmor.d/usr.sbin.mysqld

      - name: Molecule
        run: |
          make molecule.converge SCENARIO=${{ inputs.scenario }}${{ matrix.version && format('.{0}', matrix.version) || '' }}

      - name: Debug
        uses: mxschmitt/action-tmate@v3
        if: ${{ inputs.debug && always() }}
        timeout-minutes: 15
