name: Molecule - Timezone

on:
  pull_request:
    paths:
      - .github/workflows/molecule.timezone.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/timezone/**
      - roles/timezone/**
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  timezone:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: timezone
