name: Molecule - Deploy

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.deploy.yaml
      - extensions/molecule/config.yml
      - extensions/molecule/Dockerfile.*
      - extensions/molecule/deploy/**
      - roles/deploy/**
      # Plugins
      - plugins/callback/deploy_log.py
      - plugins/lookup/deploy_tasks.py
      - plugins/lookup/deploy_writable_dirs.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  deploy:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: deploy
