name: Molecule - Systemd

on:
  pull_request:
    paths:
      - .github/workflows/molecule.systemd.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/systemd/**
      - roles/systemd/**
      # Plugins
      - plugins/filter/staten.py
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  systemd:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: systemd
