name: Molecule - Files

on:
  pull_request:
    paths:
      - .github/workflows/molecule.files.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/files/**
      - roles/files/**
      # Plugins
      - plugins/action/files_attributes.py
      - plugins/lookup/files_attributes.py
      - plugins/modules/files_attributes.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  files:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: files
