name: Molecule - Supervisor

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.supervisor.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/supervisor/**
      - roles/supervisor/**
      # Plugins
      - plugins/filter/supervisor_config.py
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  supervisor:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: supervisor
