name: Molecule - Oh My Zsh

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.ohmyzsh.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/ohmyzsh/**
      - roles/ohmyzsh/**
      # Plugins
      - plugins/filter/staten.py
      - plugins/filter/zsh_config.py
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  ohmyzsh:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: ohmyzsh
