name: Molecule - Sensu Go

on:
  pull_request:
    paths:
      - .github/workflows/molecule.sensu_go.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/sensu_go/**
      - roles/sensu_go/**
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  sensu_go:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: sensu_go
