name: Molecule - Apt

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.apt.yaml
      - extensions/molecule/config.yml
      - extensions/molecule/Dockerfile.*
      - extensions/molecule/apt/**
      - roles/apt/**
      # Plugins
      - plugins/filter/apt_architecture.py
      - plugins/lookup/apt_holds.py
      - plugins/lookup/apt_packages.py
      - plugins/lookup/apt_preferences.py
      - plugins/lookup/apt_repositories.py
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  apt:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: apt
