name: Molecule - Yarn

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.yarn.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/yarn/**
      - roles/yarn/**
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  yarn:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: yarn
