name: Molecule - Proftpd

on:
  pull_request:
    paths:
      - .github/workflows/molecule.proftpd.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/proftpd/**
      - roles/proftpd/**
      # Plugins
      - plugins/filter/proftpd_config.py
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  proftpd:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: proftpd
