name: Molecule - Make

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.make.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/make/**
      - roles/make/**
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  make:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: make
