name: Molecule - NodeJS

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.nodejs.yaml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/nodejs.*/**
      - roles/nodejs/**
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  nodejs:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: nodejs
      versions: '[4, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 22]'
