name: Molecule - Pam ssh agent auth

on:
  pull_request:
    paths:
      - .github/workflows/molecule.pam_ssh_agent_auth.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/pam_ssh_agent_auth/**
      - roles/pam_ssh_agent_auth/**
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  pam_ssh_agent_auth:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: pam_ssh_agent_auth
