name: Molecule - Docker

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.docker.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/docker/**
      - roles/docker/**
      # Plugins
      - plugins/filter/json.py
      - plugins/filter/staten.py
      - plugins/lookup/docker_applications.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  docker:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: docker
