name: Molecule - Rsyslog

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.rsyslog.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/rsyslog/**
      - roles/rsyslog/**
      # Plugins
      - plugins/filter/rsyslog_config.py
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  rsyslog:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: rsyslog
