name: Molecule - Aptly

on:
  pull_request:
    paths:
      - .github/workflows/molecule.aptly.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/aptly/**
      - roles/aptly/**
      # Plugins
      - plugins/filter/json.py
      - plugins/filter/staten.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  aptly:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: aptly
