name: Molecule - Php

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.php.yaml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/php.*/**
      - roles/php/**
      # Plugins
      - plugins/filter/php_blackfire_config.py
      - plugins/filter/php_config.py
      - plugins/filter/php_fpm_pools.py
      - plugins/lookup/php_applications.py
      - plugins/lookup/php_extensions.py
      - plugins/lookup/php_packages_exclusive.py
      - plugins/lookup/php_packages.py
      - plugins/lookup/php_sapis.py
      - plugins/lookup/templates_exclusive.py
      - plugins/modules/php_extension.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  php:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: php
      versions: '[5.6, "7.0", 7.1, 7.2, 7.3, 7.4, "8.0", 8.1, 8.2, 8.3]'
