name: Molecule - Grafana Agent

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.grafana_agent.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/grafana_agent/**
      - roles/grafana_agent/**
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  grafana_agent:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: grafana_agent
