name: Molecule - Locales

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.locales.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/locales/**
      - roles/locales/**
      # Plugins
      - plugins/lookup/locales_code.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  locales:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: locales
