name: Molecule - Vim

on:
  pull_request:
    paths:
      - .github/workflows/molecule.vim.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/vim/**
      - roles/vim/**
      # Plugins
      - plugins/filter/vim_config.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  vim:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: vim
