name: Molecule - Glusterfs

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.glusterfs.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/glusterfs.*/**
      - roles/glusterfs/**
      # Plugins
      - plugins/filter/staten.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  glusterfs:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: glusterfs
      versions: '[6.1]'
