name: Molecule - Clound Init

on:
  pull_request:
    paths:
      - .github/workflows/molecule.cloud_init.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/cloud_init/**
      - roles/cloud_init/**
      # Plugins
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  cloud_init:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: cloud_init
