name: Molecule - Alternatives

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.alternatives.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/alternatives/**
      - roles/alternatives/**
      # Plugins
      - plugins/filter/staten.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  alternatives:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: alternatives
