name: Molecule - Ansible

on:
  pull_request:
    paths:
      - .manala.yaml
      - .github/workflows/molecule.ansible.yml
      - .config/molecule/config.yml
      - molecule/Dockerfile.*
      - molecule/ansible/**
      - roles/ansible/**
      # Plugins
      - plugins/lookup/templates_exclusive.py
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: Run with tmate debugging
        required: false
        default: false

jobs:
  ansible:
    uses: ./.github/workflows/molecule.yaml
    with:
      debug: ${{ inputs.debug == true }}
      scenario: ansible
