---

package:
  fail2ban:
    installed: true
{% if ansible_facts.distribution_release in ['bookworm'] %}
  # See: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=770171
  python3-systemd:
    installed: true
{% endif %}

service:
  fail2ban:
    enabled: true
    running: true
