{% set environment = manala_elasticsearch_environment|default({}, true) -%}

################################
# Elasticsearch
################################

# Elasticsearch home directory
{{ environment | manala_environment_parameter('ES_HOME', comment='#ES_HOME=/usr/share/elasticsearch') }}

# Elasticsearch configuration directory
{{ environment | manala_environment_parameter('CONF_DIR', comment='#CONF_DIR=/etc/elasticsearch') }}

# Elasticsearch configuration file
{{ environment | manala_environment_parameter('CONF_FILE', comment='#CONF_FILE=$CONF_DIR/elasticsearch.yml') }}

# Elasticsearch data directory
{{ environment | manala_environment_parameter('DATA_DIR', comment='#DATA_DIR=/var/lib/elasticsearch') }}

# Elasticsearch logs directory
{{ environment | manala_environment_parameter('LOG_DIR', comment='#LOG_DIR=/var/log/elasticsearch') }}

# Elasticsearch work directory
{{ environment | manala_environment_parameter('WORK_DIR', comment='#WORK_DIR=/tmp/elasticsearch') }}

# Elasticsearch PID directory
{{ environment | manala_environment_parameter('PID_DIR', comment='#PID_DIR=/var/run/elasticsearch') }}

# Heap size defaults to 256m min, 1g max
# Set ES_HEAP_SIZE to 50% of available RAM, but no more than 31g
{{ environment | manala_environment_parameter('ES_HEAP_SIZE', comment='#ES_HEAP_SIZE=2g') }}

# Heap new generation
{{ environment | manala_environment_parameter('ES_HEAP_NEWSIZE', comment='#ES_HEAP_NEWSIZE=') }}

# Maximum direct memory
{{ environment | manala_environment_parameter('ES_DIRECT_SIZE', comment='#ES_DIRECT_SIZE=') }}

# Additional Java OPTS
{{ environment | manala_environment_parameter('ES_JAVA_OPTS', comment='#ES_JAVA_OPTS=') }}

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
{{ environment | manala_environment_parameter('ES_RESTART_ON_UPGRADE', comment='#ES_RESTART_ON_UPGRADE=true') }}

# Path to the GC log file
{{ environment | manala_environment_parameter('ES_GC_LOG_FILE', comment='#ES_GC_LOG_FILE=/var/log/elasticsearch/gc.log') }}

################################
# Elasticsearch service
################################

# SysV init.d
#
# When executing the init script, this user will be used to run the elasticsearch service.
# The default value is 'elasticsearch' and is declared in the init.d file.
# Note that this setting is only used by the init script. If changed, make sure that
# the configured user can read and write into the data, work, plugins and log directories.
# For systemd service, the user is usually configured in file /usr/lib/systemd/system/elasticsearch.service
{{ environment | manala_environment_parameter('ES_USER', comment='#ES_USER=elasticsearch') }}
{{ environment | manala_environment_parameter('ES_GROUP', comment='#ES_GROUP=elasticsearch') }}

################################
# System properties
################################

# Specifies the maximum file descriptor number that can be opened by this process
# When using Systemd, this setting is ignored and the LimitNOFILE defined in
# /usr/lib/systemd/system/elasticsearch.service takes precedence
{{ environment | manala_environment_parameter('MAX_OPEN_FILES', default=65535, comment=True) }}

# The maximum number of bytes of memory that may be locked into RAM
# Set to "unlimited" if you use the 'bootstrap.mlockall: true' option
# in elasticsearch.yml (ES_HEAP_SIZE  must also be set).
# When using Systemd, the LimitMEMLOCK property must be set
# in /usr/lib/systemd/system/elasticsearch.service
{{ environment | manala_environment_parameter('MAX_LOCKED_MEMORY', comment='#MAX_LOCKED_MEMORY=unlimited') }}

# Maximum number of VMA (Virtual Memory Areas) a process can own
# When using Systemd, this setting is ignored and the 'vm.max_map_count'
# property is set at boot time in /usr/lib/sysctl.d/elasticsearch.conf
{{ environment | manala_environment_parameter('MAX_MAP_COUNT', default=262144, comment=True) }}

{{ environment | manala_environment(exclude=[
  'ES_HOME',
  'CONF_DIR',
  'CONF_FILE',
  'DATA_DIR',
  'LOG_DIR',
  'WORK_DIR',
  'PID_DIR',
  'ES_HEAP_SIZE',
  'ES_HEAP_NEWSIZE',
  'ES_DIRECT_SIZE',
  'ES_JAVA_OPTS',
  'ES_RESTART_ON_UPGRADE',
  'ES_GC_LOG_FILE',
  'ES_USER',
  'ES_GROUP',
  'MAX_OPEN_FILES',
  'MAX_LOCKED_MEMORY',
  'MAX_MAP_COUNT',
]) }}
